<div class="dialog-new-v1 dialog-with-close-icon">
  <p-dialog [modal]="true" [breakpoints]="{'1024px': '75vw','960px': '75vw', '640px': '90vw'}" [style]="{width: '90%', height: '100%'}"
  header="Choose Image" [(visible)]="showModalForImage" (onHide)="cancelModel()">
  <div class="modal-body">
  <div class="task-header" style="margin-top: 10px; margin-bottom: 10px;">
        <div class="search" style="float: left">
          <!-- <i class="fa fa-search"></i> -->
          <input type="text" class="form-control" [(ngModel)]="pageSearchFilter"  (keyup.enter)="searchPage()" placeholder="Search here">
        </div>
        <div style="float: left">
          <span class="p-input-icon-left ml-3">
            <select (change)="onTagSelected()" style="width: 200px"
          class="form-control" [(ngModel)]="selectedTag" name="selectedTag">
          <option value="" disabled selected value="">Select the Tag</option>
          <option *ngFor="let tag of mediaTags" [ngValue]="tag.id">{{tag.name}}</option>
           </select>
        </span>
        </div>
        <div style="float: left">
        <span class="p-input-icon-left ml-3">
          <div class="table-button" style="margin-top: 4px;">
              <div class="table-btn-wrapper" (click)="reset()" style="cursor: pointer;">
                <span class="icon">
                    <i class="fa fa-reset"></i>
                    <a>Reset</a>
                </span>
            </div>
            </div>
        </span>
        </div>
    </div>

    <div class="conatainer">

      <div class="row mx-0">
          <div class="col-lg-3 col-md-3 col-sm-12" *ngFor="let library of libraries">
            <div class="wrapper" (click)="selectPage(library)">
              <div class="overlay-wrapper">
                <div class="bg-img">
                  <img [src]="library.location | safeUrl">
                </div>
                <div class="overlay">
                  <div class="button-flex">
                    <button class="btn btn-common btn-xs-new" >Select</button>
                  </div>

                </div>
              </div>

              <!-- <div class="img bg-img" [style.background]="'url(' +library?.libraryImage+ ')' "></div> -->



              <div class="page-body">
                <div class="heading-title">
                  <p class="light" *ngIf="library?.createdBy">{{library.filename}}</p>
                  <p class="light"> {{ getTags(library?.socialTags)}}</p>

                  <p class="light" *ngIf="library?.createdBy">By {{library.createdBy.firstName || '-'}}</p>
                  <!-- <div class="buttons-icons">

                    <a href="javascript:void(0)" (click)="editPage(library.id)">Edit</a> &nbsp;
                    <a href="javascript:void(0)" (click)="deleteTrash(library.id)" style="float: right;">
                      <i class="fa fa-trash-o text-danger"></i>
                    </a>
                  </div> -->


                  <p class="light"> On {{ library.updatedAt ?
                    (library.updatedAt | date:'medium') :  (library?.createdAt | date:'medium')}}
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>

        <p-paginator [rows]="paginatorConfig.noOfRecord" [totalRecords]="paginatorConfig?.count"
        (onPageChange)="paginate($event)" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="paginatorConfig.recordArray"></p-paginator>

   </div>
   </div>
   </p-dialog>
</div>

