<div class="bg-white datatable-table new-ui">
  <!-- <div class="title">
    <h3>Services</h3>
  </div> -->
  <div class="table-list" #scrollframe cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="rowData">
    <p-table #dt1 responsiveLayout="stack" [value]="rowData" [reorderableColumns]=true [columns]="selectedColumns"
      [paginator]="true" [rows]="rows" [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50,100]"
      [globalFilterFields]="globalFilterColumn">
      <ng-template pTemplate="caption">
        <div class="flex">
          <p-multiSelect [resetFilterOnHide]="true" [options]="columns" [(ngModel)]="selectedColumns"
            optionLabel="header" selectedItemsLabel="{0} Columns" [style]="{minWidth: '120px'}"
            placeholder="Choose Columns">
          </p-multiSelect>
          <span class="p-input-icon-left ml-auto"><i class="pi pi-search"></i>
            <div class="table-button">
              <input pInputText class="search-table" type="text"
                (input)="dt1.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />
              <button class="btn-save-new btn-small-new">
                  <i class="fa fa-plus"></i>
                  <a routerLink="/services/create">Service</a>
              </button>

              <!-- ------------------------- Delete All selected services ------------------------- -->
              <button class="btn-save-new btn-small-new" (click)="deleteAllSelectedTemplateModal()">
                <i class="fa fa-trash"></i>
                Delete Services
              </button>
              <!-- ------------------------- Delete All selected services ------------------------- -->
            </div>

          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th></th>
          <ng-container *ngFor="let col of columns">

            <th [pSortableColumn]="col.field" pReorderableColumn>
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
          </ng-container>
        </tr>
      </ng-template>
      <!-- <ng-template pTemplate="body" let-data> -->
      <ng-template pTemplate="body" let-data let-columns="columns" #rowTemplate let-index="rowIndex">
        <tr class="mobile-special" cdkDrag [cdkDragBoundary]="scrollframe" cdkDragPreviewTemplate="#rowTemplate">
          <td>
            <i class="fa fa-arrows"></i>
          </td>
          <ng-container *ngFor="let col of columns">
            <td>
              <ng-container [ngSwitch]="col.field">
                <ng-container *ngSwitchCase="'Checkbox'">
                  &nbsp;<input type="checkbox" [checked]="data.isDefault" (change)="selectServices(data.id, $event)">
                </ng-container>
                <ng-container *ngSwitchCase="'actions'">
                  <span class="action-column">
                    <span class="p-column-title">{{col.header}}</span>
                    <a href="javascript:void(0)" (click)="editService(data.id)"><i
                        class="fas fa-edit ms-text-primary"></i></a>
                    <a href="javascript:void(0)" (click)="deleteServiceModal(data)"><i
                        class="far fa-trash-alt ms-text-danger"></i></a>

                    <a href="javascript:void(0)" (click)="moveUpMenu(data)">
                      <i class="fa fa-arrow-up"></i>
                    </a>
                    <a href="javascript:void(0)" (click)="moveDownMenu(data)">
                      <i class="fa fa-arrow-down"></i>
                    </a>

                  </span>

                </ng-container>
                <ng-container *ngSwitchDefault>
                  <!-- ----------------------------------------------------------------------- -->
                  <!--          BELOW CLICK EVENT ON SPAN IS FOR EDIT ON COLUMN CLICK          -->
                  <!-- ----------------------------------------------------------------------- -->
                  <span class="click-edit" (click)="editService(data.id)">
                    <span class="p-column-title">{{col.header}}</span> {{data[col.field] ?
                    data[col.field] : '-'}}
                  </span>

                </ng-container>
              </ng-container>
            </td>
          </ng-container>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<ng-container *ngIf="showModal">
  <app-delete-warning [modalData]="modalData" [showModal]="showModal" [modalMessage]=null
    (modalClosed)="onCloseModal($event)"></app-delete-warning>
</ng-container>
