<div class="preview-card code-new">
    <div class="panel-blue" >
      <div class="panel-header">
        <h3>Website Configuration Code</h3>
      </div>

      <div class="panel-body">
        <div class="panel-card-content no-border">
          <app-url-preview [iframeUrl]="iframeUrl" [previewUrl]="g99ReviewUrl"></app-url-preview>
        </div>
      </div>
    </div>
    <div class="panel-blue" >
      <div class="panel-header">
        <h3>Landing Page Link</h3>
      </div>

      <div class="panel-body">
        <div class="panel-card-content no-border">
          <app-url-preview [iframeUrl]="g99ReviewLandingPage" [previewUrl]="g99ReviewLandingPage"></app-url-preview>
        </div>
      </div>
    </div>

    <div class="panel-blue" >
      <div class="panel-header">
        <h3>Button Configuration Code</h3>
      </div>

      <div class="panel-body">
        <div class="panel-card-content no-border">
          <app-url-preview [iframeUrl]="buttonIframeUrl" [previewUrl]="buttonPreviewUrl"></app-url-preview>
        </div>
      </div>
    </div>
    <div class="panel-blue" >
      <div class="panel-header">
        <h3>Reviews Configuration Code</h3>
      </div>

      <div class="panel-body">
        <div class="panel-card-content no-border">
          <app-url-preview [iframeUrl]="reviewsIframeUrl" [previewUrl]="reviewsPreviewUrl"></app-url-preview>
        </div>
      </div>
    </div>

    <div class="panel-blue" >
      <div class="panel-header">
        <h3>Floating Reviews Widget Code</h3>
      </div>

      <div class="panel-body">
        <div class="panel-card-content no-border">
          <app-url-preview [iframeUrl]="floatingReviewsUrl" [previewUrl]="floatingReviewsPreviewUrl"></app-url-preview>
        </div>
      </div>
    </div>

    <div class="panel-blue" >
      <div class="panel-header">
        <h3>Reviews Carousel Widget Code</h3>
      </div>

      <div class="panel-body">
        <div class="panel-card-content no-border">
          <app-url-preview [iframeUrl]="carouselReviewsUrl" [previewUrl]="carouselReviewsPreviewUrl"></app-url-preview>
        </div>
      </div>
    </div>

    <!-- -------------------------- Contact form css --------------------------- -->
    <div class="css-card">
      <div class="panel-blue">
        <div class="panel-header">
          <h3>CSS for Iframe Page</h3>
        </div>

        <div class="panel-body">
          <div class="panel-card-content no-border">
            <p>
              You can add the css style to apply to iframe page.
            </p>
            <form [formGroup]="cssForm"  (ngSubmit)="submitCssForm()" style="width: 100%;">

              <div class="form-group">
                <textarea formControlName="cssForIframePage" rows="7" class="css-form form-control"></textarea>
              </div>

              <div class="button-flex">
                <!-- <button type="button" class="btn btn-primary-border btn-small" >
                  <i class="fa fa-globe"></i>Preview</button> -->

                  <button class="btn btn-primary-border btn-small">
                    <i class="fa fa-save"></i> Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


    <div class="css-card">
      <div class="panel-blue">
        <div class="panel-header">
          <h3>CSS For Landing Page</h3>
        </div>

        <div class="panel-body">
          <div class="panel-card-content no-border">
            <p>
              You can add the css style to apply to landing page.
            </p>
            <form [formGroup]="cssLandingPage" (ngSubmit)="submitLandingPageCssForm()" style="width: 100%;">

              <div class="form-group">
                <textarea formControlName="cssForLandingPage" rows="7" class="css-form form-control"></textarea>
              </div>

              <div class="button-flex">
                <!-- <button type="button" class="btn btn-primary-border btn-small" >
                  <i class="fa fa-globe"></i>Preview</button> -->

                  <button class="btn btn-primary-border btn-small">
                    <i class="fa fa-save"></i> Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- --------------------------- Script tag form --------------------------- -->
    <!-- <div class="script-card" *ngIf="questionnaireId">
      <div class="panel-blue">
        <div class="panel-header">
          <h3>Tracking code</h3>
        </div>

        <div class="panel-body">
          <div class="panel-card-content no-border">
            <p>
              Add tracking information here.
            </p>
            <form [formGroup]="trackingCodeForm" (ngSubmit)="submitTrackingCodeForm()" style="width: 100%;">

              <div class="form-group">
                <label>
                  Scripts in Header.(*These scripts will be printed in the &lt;head&gt; section)
                </label>
                <textarea formControlName="googleAnalyticsGlobalCode" rows="7" class="css-form form-control"></textarea>

              </div>

              <div class="form-group">
                <label>
                  Scripts in Body.(*These scripts will be printed in the  &lt;body&gt; section)
                  <textarea formControlName="googleAnalyticsGlobalCodeUrl" rows="7" class="css-form form-control"></textarea>

                </label>
              </div>

              <div class="form-group">
                <label>
                  Scripts in thank you page.(*These scripts will be printed on thank you page upon form submission)
                </label>
                <textarea formControlName="trackCode" rows="7" class="css-form form-control"></textarea>

              </div>


              <div class="button-flex">
                  <button class="btn btn-primary-border btn-small">
                    <i class="fa fa-save"></i> Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div> -->
  </div>
