.container {
  width: min(450px, 100%);
  height: 300px;
  padding: 2rem;
  text-align: center;
  border: dashed 1px #2656C9;
  border-radius: 6px;
  position: relative;
  margin: 0 auto;
  margin-top: 4px !important;
}
.container input {
  opacity: 0;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
}

.container h3 {
  font-size: 20px;
  font-weight: 600;
  color: #38424c;
}
.files-list {
  margin-top: 1.5rem;
}
.files-list .single-file {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  border: solid 1px black;
  margin-bottom: 1rem;
  display: flex;
  flex-grow: 1;
}
.files-list .single-file .delete {
  display: flex;
  margin-left: 0.5rem;
  cursor: pointer;
  align-self: flex-end;
}
.files-list .single-file .name {
  font-size: 14px;
  font-weight: 500;
  color: #353f4a;
  margin: 0;
}
.files-list .single-file .size {
  font-size: 12px;
  font-weight: 500;
  color: #a4a4a4;
  margin: 0;
  margin-bottom: 0.25rem;
}
.files-list .single-file .info {
  width: 100%;
}


.file-upload-button {
  cursor: pointer !important;
  z-index: 9999999999 !important;
}

.sample-file-link {
  position: relative;
  z-index: 9;
}

.sample-file-link a {
  font-style: unset;
}