<div class="preview-card code-new">
  <app-url-preview-new [title]="'Website Configuration Code - Single Location'" [iframeUrl]="iframeUrl"
    [previewUrl]="g99ReviewUrl">

    <app-url-preview [iframeUrl]="iframeUrl" [previewUrl]="g99ReviewUrl"></app-url-preview>

  </app-url-preview-new>

  <app-url-preview-new [title]="'Website Configuration Code - Multiple Location'" [iframeUrl]="multiLocationIframe"
    [previewUrl]="g99ReviewUrl+ '&allowMultiLocation=true'">

    <app-url-preview [iframeUrl]="multiLocationIframe"
      [previewUrl]="g99ReviewUrl+ '&allowMultiLocation=true'"></app-url-preview>

  </app-url-preview-new>

  <app-url-preview-new [title]="'Landing Page Link'" [iframeUrl]="g99ReviewLandingPage"
    [previewUrl]="g99ReviewLandingPage">

    <app-url-preview [iframeUrl]="g99ReviewLandingPage" [previewUrl]="g99ReviewLandingPage"></app-url-preview>

  </app-url-preview-new>

  <app-url-preview-new [title]="'Button Configuration Code'" [iframeUrl]="buttonIframeUrl"
    [previewUrl]="buttonPreviewUrl">

    <app-url-preview [iframeUrl]="buttonIframeUrl" [previewUrl]="buttonPreviewUrl"></app-url-preview>

  </app-url-preview-new>

  <app-url-preview-new [title]="'Reviews Configuration Code'" [iframeUrl]="reviewsIframeUrl"
    [previewUrl]="reviewsPreviewUrl">

    <app-url-preview [iframeUrl]="reviewsIframeUrl" [previewUrl]="reviewsPreviewUrl"></app-url-preview>

  </app-url-preview-new>

  <app-url-preview-new [title]="'Floating Reviews Widget Code'" [iframeUrl]="floatingReviewsUrl"
    [previewUrl]="floatingReviewsPreviewUrl">

    <app-url-preview [iframeUrl]="floatingReviewsUrl" [previewUrl]="floatingReviewsPreviewUrl"></app-url-preview>

  </app-url-preview-new>

  <app-url-preview-new [title]="'Reviews Carousel Widget Code'" [iframeUrl]="carouselReviewsUrl"
    [previewUrl]="carouselReviewsPreviewUrl">

    <app-url-preview [iframeUrl]="carouselReviewsUrl" [previewUrl]="carouselReviewsPreviewUrl"></app-url-preview>

  </app-url-preview-new>


  <!-- -------------------------- Contact form css --------------------------- -->
  <div class="css-card">
    <div class="panel-blue">
      <div class="panel-header">
        <h3>CSS for Iframe Page</h3>
      </div>

      <div class="panel-body">
        <div class="panel-card-content no-border">
          <p>
            You can add the css style to apply to iframe page.
          </p>
          <form [formGroup]="cssForm" (ngSubmit)="submitCssForm()" style="width: 100%;">

            <div class="form-group">
              <textarea formControlName="cssForIframePage" rows="7" class="css-form form-control"></textarea>
            </div>

            <div class="button-flex">
              <!-- <button type="button" class="btn-save-new btn-xs-new" >
                  <i class="fa fa-globe"></i>Preview</button> -->

              <button class="btn-save-new btn-long-new">
                <i class="fa fa-save"></i> Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>


  <div class="css-card">
    <div class="panel-blue">
      <div class="panel-header">
        <h3>CSS For Landing Page</h3>
      </div>

      <div class="panel-body">
        <div class="panel-card-content no-border">
          <p>
            You can add the css style to apply to landing page.
          </p>
          <form [formGroup]="cssLandingPage" (ngSubmit)="submitLandingPageCssForm()" style="width: 100%;">

            <div class="form-group">
              <textarea formControlName="cssForLandingPage" rows="7" class="css-form form-control"></textarea>
            </div>

            <div class="button-flex">
              <!-- <button type="button" class="btn-save-new btn-xs-new" >
                  <i class="fa fa-globe"></i>Preview</button> -->

              <button class="btn-save-new btn-xs-new">
                <i class="fa fa-save"></i> Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- --------------------------- Script tag form --------------------------- -->
  <!-- <div class="script-card" *ngIf="questionnaireId">
      <div class="panel-blue">
        <div class="panel-header">
          <h3>Tracking code</h3>
        </div>

        <div class="panel-body">
          <div class="panel-card-content no-border">
            <p>
              Add tracking information here.
            </p>
            <form [formGroup]="trackingCodeForm" (ngSubmit)="submitTrackingCodeForm()" style="width: 100%;">

              <div class="form-group">
                <label>
                  Scripts in Header.(*These scripts will be printed in the &lt;head&gt; section)
                </label>
                <textarea formControlName="googleAnalyticsGlobalCode" rows="7" class="css-form form-control"></textarea>

              </div>

              <div class="form-group">
                <label>
                  Scripts in Body.(*These scripts will be printed in the  &lt;body&gt; section)
                  <textarea formControlName="googleAnalyticsGlobalCodeUrl" rows="7" class="css-form form-control"></textarea>

                </label>
              </div>

              <div class="form-group">
                <label>
                  Scripts in thank you page.(*These scripts will be printed on thank you page upon form submission)
                </label>
                <textarea formControlName="trackCode" rows="7" class="css-form form-control"></textarea>

              </div>


              <div class="button-flex">
                  <button class="btn-save-new btn-xs-new">
                    <i class="fa fa-save"></i> Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div> -->
</div>