<ng-container *ngIf="subscriptionAlreadyPresent">
    <div class="bg-danger text-light w-100 m-0 p-0 d-flex justify-content-center">Subscription is already
        active, you can
        still top up</div>
</ng-container>
<div class="payment-wrap">
    <div class="col-8 left-wrap">

        <div class="togglecontainer">
            <h5 style="font-weight: 600;">Payment Details</h5>
        </div>

        <ng-container #general>
            <p *ngIf="!isRecurring" class="info-text lead mt-3">To finalize the transaction,please complete the payment
                using valid credit card.</p>
            <p *ngIf="isRecurring" class="info-text lead mt-3">Subscription will be auto renewed on monthly
                basis, meanwhile you can cancel it at any time.</p>
        </ng-container>

        <div class="sub-wrap">
            <label class="label-text" for="name">Cardholder's Name</label>
            <input [(ngModel)]="cardholdername" id="name" name="name" type="text"
                placeholder="ENTER NAME AS PER YOUR CARD" class="input-type3" />
        </div>
        <div class="sub-wrap">
            <label class="label-text">Card Details</label><small class="error-text">{{displayError}}</small>
            <div class="example example1 p-0">
                <div *ngIf="stripeLoaded" style="padding:1rem 1rem 0 1rem;">
                    <ngx-stripe-card (change)="onChange($event)" [options]="cardOptions"
                        [elementsOptions]="elementsOptions" class="stripePay">
                    </ngx-stripe-card>
                </div>
            </div>
        </div>

        <div class="btn-wrap">
            <button type="button" (click)="submit()" [disabled]="isPayBtnDisabled" class="btn"
                [ngClass]="isPayBtnDisabled ? 'btn-primary' : 'btn-secondary'">MAKE PAYMENT</button>
            <button type="button" (click)="cancel()" class="btn-can">Cancel</button>
        </div>
    </div>
    <div class=" col-4 right-wrap">
        <div class="togglecontainer">
            <div (click)="makeOneTimePayment()" [ngClass]="isRecurring?'tabletoggle':'tabletoggleactive'">

                <p [ngClass]="isRecurring?'toggleTxt':'toggleTxtactive'">One Time</p>
            </div>
            <div (click)="makeRecurringPayment()" [ngClass]="!isRecurring?'graphtoggle':'graphtoggleactive'">

                <p [ngClass]="!isRecurring?'toggleTxt':'toggleTxtactive'" class="toggleTxt">Recurring</p>
            </div>
        </div>

        <div class="plans-wrap mt-4">
            <div class="plans-head">
                <h6 class="text-white m-0">AMOUNT PAYABLE</h6>
                <h4 class="text-white font-weight-bold m-0">${{package?.cost|number : '1.2-2'}}</h4>
            </div>
            <div class="plans-body">

                <p class="text-secondary text-sm-left">{{package?.name}}</p>
                <p class="text-secondary text-sm-left">{{isRecurring?'Recurring Plan':'One Time Plan'}}</p>
                <p style="cursor: pointer;" (click)="cancel()"><small class="text-primary">Change plan</small></p>
            </div>
        </div>

    </div>
</div>