<div class="add-edit-form">
  <div class="form form-type2">
    <form [formGroup]="clinicReviewSettings" (ngSubmit)="submitForm()">
      <div class="row mx-0">
        <!-- -------------------------- Clinic Name feild --------------------------- -->
        <div class="col-lg-8 col-md-12 col-sm-12">


          <div class="form-group">
            <label for="link">App review code</label>
            <textarea class="form-control" formControlName="appReviewCode" rows="5" id="app-review"
              name="text"></textarea>
          </div>

          <div class="form-group">
            <label for="link">Review us code</label>
            <textarea class="form-control" formControlName="reviewButtonCode" rows="5" id="app-review"
              name="text"></textarea>
          </div>
        </div>

        <!-- --------------------------- buttons section --------------------------- -->
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="form-group">
            <div class="button-flex">
              <button class="btn-save-new btn-small-new" [disabled]="!clinicReviewSettings.valid">
                <span class="btn-text">Save</span>
              </button>

              <button type="button" class="btn-default-new btn-small-new"  (click)="onCancelForm()">
                <span class="btn-text"> Cancel</span>
              </button>
            </div>
          </div>
        </div>

        <!-- ------------------------- div class row ends -------------------------- -->
      </div>
    </form>
  </div>
</div>
