<div class="menu-box" [ngClass]="{'disabled-menu': isMenuDisabled(menu) && isLeftPanel}">
    <div class="menu-text-icon">
        <span class="menu-name">
            {{menu.name}}
        </span>

        <span class="badge"
            [ngClass]="{'badge-green': menu.menuType === 'Group', 'badge-orange': menu.menuType !== 'Group'}">
            {{menu.menuType}}
        </span>
    </div>


    <div class="btn-flex">
        <button *ngIf="isLeftPanel" class="btn btn-regular btn-extra-small" (click)="handleAddToMenu(menu)"
            [disabled]="isMenuDisabled(menu)" title="Add to Menu">
            Add to Menu
        </button>


        <ng-container *ngIf="!isLeftPanel">
            <button class="btn btn-sm btn-light mx-2" (click)="moveUpMenu({'menu': menu, menus: currentMenuList})"
                title="Move Up">
                <i class="fa fa-arrow-up"></i>
            </button>
            <button class="btn btn-sm btn-light mx-2" (click)="moveDownMenu({'menu': menu, menus: currentMenuList})"
                title="Move Down">
                <i class="fa fa-arrow-down"></i>
            </button>
            <button class="btn btn-sm btn-light" (click)="removeMenu(menu)" title="Remove Menu">
                <i class="fa fa-trash"></i>
            </button>
        </ng-container>

    </div>
</div>