<div class="add-section">
    <div class="select-preset">
        <div class="select-preset__title">Select your structure</div>
        <div class="select-preset__list">

            <div class="preset" data-preset="c100" (click)="selectLayout('container1')">

                <svg viewBox="0 0 89 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <title>Direction Column</title>
                    <rect width="89" height="44"></rect>
                    <path
                        d="M43.956 24.644L42 22.748C41.848 22.596 41.672 22.52 41.472 22.52C41.28 22.52 41.108 22.596 40.956 22.748C40.804 22.9 40.728 23.076 40.728 23.276C40.728 23.476 40.804 23.652 40.956 23.804L44.304 27.056C44.456 27.208 44.628 27.284 44.82 27.284C45.02 27.284 45.196 27.208 45.348 27.056L48.504 23.852C48.656 23.7 48.732 23.524 48.732 23.324C48.732 23.124 48.656 22.948 48.504 22.796C48.352 22.644 48.176 22.568 47.976 22.568C47.776 22.568 47.6 22.644 47.448 22.796L45.456 24.848L45.504 17.048C45.504 16.848 45.428 16.676 45.276 16.532C45.124 16.38 44.948 16.304 44.748 16.304C44.548 16.304 44.372 16.38 44.22 16.532C44.076 16.676 44.004 16.848 44.004 17.048L43.956 24.644Z">
                    </path>
                </svg>

            </div>

            <div class="preset" data-preset="r100" (click)="selectLayout('container2')">

                <svg class="exclude-rtl-scale" viewBox="0 0 89 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <title>Direction Row</title>
                    <rect width="89" height="44"></rect>
                    <path
                        d="M47.856 23.352L45.948 25.296C45.796 25.448 45.72 25.624 45.72 25.824C45.72 26.024 45.796 26.2 45.948 26.352C46.1 26.504 46.276 26.58 46.476 26.58C46.676 26.58 46.852 26.504 47.004 26.352L50.256 23.004C50.408 22.852 50.484 22.676 50.484 22.476C50.484 22.276 50.408 22.1 50.256 21.948L47.052 18.804C46.9 18.652 46.724 18.576 46.524 18.576C46.324 18.576 46.148 18.652 45.996 18.804C45.844 18.956 45.768 19.132 45.768 19.332C45.768 19.524 45.844 19.696 45.996 19.848L48.048 21.852L40.248 21.804C40.048 21.804 39.872 21.88 39.72 22.032C39.576 22.176 39.504 22.348 39.504 22.548C39.504 22.748 39.576 22.924 39.72 23.076C39.872 23.228 40.048 23.304 40.248 23.304L47.856 23.352Z">
                    </path>
                </svg>

            </div>

            <div class="preset" data-preset="50-50" (click)="selectLayout('container3')">

                <svg viewBox="0 0 90 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.5" width="44" height="44"></rect>
                    <rect x="45.5" width="44" height="44"></rect>
                </svg>

            </div>

            <div class="preset" data-preset="33-66" (click)="selectLayout('container4')">

                <svg viewBox="0 0 89 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="29" height="44"></rect>
                    <rect x="30" width="59" height="44"></rect>
                </svg>

            </div>

            <div class="preset" data-preset="25-25-25-25" (click)="selectLayout('container5')">

                <svg viewBox="0 0 89 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="21.5" height="44"></rect>
                    <rect x="22.5" width="21.5" height="44"></rect>
                    <rect x="45" width="21.5" height="44"></rect>
                    <rect x="67.5" width="21.5" height="44"></rect>
                </svg>

            </div>

            <div class="preset" data-preset="25-50-25" (click)="selectLayout('container6')">

                <svg viewBox="0 0 89 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="21.5" height="44"></rect>
                    <rect x="22.5" width="44" height="44"></rect>
                    <rect x="67.5" width="21.5" height="44"></rect>
                </svg>

            </div>

            <div class="preset" data-preset="50-50-50-50" (click)="selectLayout('container7')">

                <svg viewBox="0 0 90 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.5" width="44" height="21.5"></rect>
                    <rect x="45.5" width="44" height="21.5"></rect>
                    <rect x="0.5" y="22.5" width="44" height="21.5"></rect>
                    <rect x="45.5" y="22.5" width="44" height="21.5"></rect>
                </svg>

            </div>

            <div class="preset" data-preset="50-50-100">

                <svg viewBox="0 0 89 44" fill="none" xmlns="http://www.w3.org/2000/svg"
                    (click)="selectLayout('container8')">
                    <rect width="44" height="21.5"></rect>
                    <rect x="45" width="44" height="21.5"></rect>
                    <rect y="22.5" width="89" height="21.5"></rect>
                </svg>

            </div>

            <div class="preset" data-preset="c100-c50-50" (click)="selectLayout('container9')">

                <svg viewBox="0 0 90 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="0.5" width="44" height="44"></rect>
                    <rect x="45.5" width="44" height="21.5"></rect>
                    <rect x="45.5" y="22.5" width="44" height="21.5"></rect>
                </svg>

            </div>

            <div class="preset" data-preset="33-33-33-33-33-33" (click)="selectLayout('container10')">

                <svg viewBox="0 0 89 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="29" height="21.5"></rect>
                    <rect x="30" width="29" height="21.5"></rect>
                    <rect x="60" width="29" height="21.5"></rect>
                    <rect y="22.5" width="29" height="21.5"></rect>
                    <rect x="30" y="22.5" width="29" height="21.5"></rect>
                    <rect x="60" y="22.5" width="29" height="21.5"></rect>
                </svg>

            </div>

            <div class="preset" data-preset="33-33-33-33-66" (click)="selectLayout('container11')">

                <svg viewBox="0 0 89 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="29" height="21.5"></rect>
                    <rect x="30" width="29" height="21.5"></rect>
                    <rect x="60" width="29" height="21.5"></rect>
                    <rect y="22.5" width="29" height="21.5"></rect>
                    <rect x="30" y="22.5" width="59" height="21.5"></rect>
                </svg>

            </div>

            <div class="preset" data-preset="66-33-33-66" (click)="selectLayout('container12')">

                <svg viewBox="0 0 89 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="59" height="21.5"></rect>
                    <rect x="60" width="29" height="21.5"></rect>
                    <rect y="22.5" width="29" height="21.5"></rect>
                    <rect x="30" y="22.5" width="59" height="21.5"></rect>
                </svg>

            </div>
            <div class="preset" data-preset="33-33-33" (click)="selectLayout('container13')">

                <svg viewBox="0 0 89 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect width="29" height="59"></rect>
                    <rect x="30" width="29" height="59"></rect>
                    <rect x="60" width="29" height="59"></rect>
                </svg>

            </div>
            <div class="preset" data-preset="70-30" (click)="selectLayout('container14')">

                <svg viewBox="0 0 89 44" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect height="59" width="60"></rect>
                    <rect height="59" x="61" width="40"></rect>
                </svg>

            </div>
        </div>
    </div>
</div>