.add-edit-form {
    padding-top: 3em;
}

.theme-slect {
    display: inline-block;
    margin-right: 1em;
}

button.button-theme {
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 12px;
    margin: 5px;
    cursor: pointer;
}

img {
    height: 15px;
    width: 17px;
}

.footer .save-color-btn {
    margin-top: 20px;
    margin-right: 20px;
}

span {
    font-size: 0.8rem
}

.current-theme {
    display: flex;
}

.current-theme p {
    line-height: 18px;
    color: #007bff;
}


/* new button */
.choices {
    height: 25px;
    width: 25px;
    border: none;
    border-radius: 12px;
    margin: 5px;
    cursor: pointer;
    background-color: green;
}

.color-s:checked+label>choices {
    background: red;
}

.color-s {
    display: none
}

.color-s:checked+label>.choices {
    background-image: url('https://g99plus.b-cdn.net/AEMR/assets/images/checked.png');
    background-size: 30px 25px;
}

a {
    color: #007bff !important;
}

::ng-deep .gjs-sm-field input,
.gjs-sm-field input {
    color: black;
}