<p-dialog
  [header]="'Add Review'"
  [(visible)]="showModal"
  [modal]="true"
  [breakpoints]="{ '1024px': '75vw', '960px': '75vw', '640px': '90vw' }"
  [style]="{ width: '50vw' }"
  [baseZIndex]="10000"
  (onHide)="hideModal(false)"
  [draggable]="false"
  [resizable]="false"
>
  <!-- ----------------------------- Modal Body ------------------------------ -->

  <div class="modal-body mt-4">
    <form [formGroup]="reviewForm" class="form-type2" (ngSubmit)="saveReview()">
      <div class="row mx-0">
        <!-- ----------------------------- Name field ------------------------------ -->
        <div class="col-lg-6 col-md-12">
          <div
            class="form-group"
            [ngClass]="
              f.name.invalid && (f.name.dirty || f.name.touched)
                ? 'has-error'
                : ''
            "
          >
            <label>Name<span class="error-red">*</span></label>
            <input
              type="text"
              class="form-control input-type2"
              formControlName="name"
              appErrorStylingDirective
            />
            <div
              class="error error-msg"
              *ngIf="f.name.invalid && (f.name.dirty || f.name.touched)"
            >
              <div *ngIf="f.name.errors?.required">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                Name is required.
              </div>
              <div *ngIf="f.name.errors?.pattern">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                Name is invalid.
              </div>
            </div>
          </div>
        </div>

        <!-- ---------------------------- Review date ----------------------------- -->
        <div class="col-lg-3 col-md-12">
          <div
            class="form-group"
            [ngClass]="
              f.reviewDate.invalid &&
              (f.reviewDate.dirty || f.reviewDate.touched)
                ? 'has-error'
                : ''
            "
          >
            <label>Review Date<span class="error-red">*</span></label>
            <p-calendar
              formControlName="reviewDate"
              [showIcon]="true"
              appendTo="body"
              [maxDate]="maxDate"
              appErrorStylingDirective
            >
            </p-calendar>
            <div
              class="error error-msg"
              *ngIf="
                f.reviewDate.invalid &&
                (f.reviewDate.dirty || f.reviewDate.touched)
              "
            >
              <div *ngIf="f.reviewDate.errors?.required">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                Review Date is required.
              </div>
            </div>
          </div>
        </div>

        <!-- ---------------------------- Review stars ----------------------------- -->
        <div class="col-lg-3 col-md-12">
          <div class="form-group">
            <label class="mb-2 pl-1">Review Stars</label>
            <div>
              <ng-container *ngFor="let star of stars">
                <span
                  class="star p-1"
                  [ngClass]="star <= f?.rating.value ? 'checked' : ''"
                  (click)="changeRating(star)"
                >
                  <span class="fa fa-star"></span>
                </span>
              </ng-container>
            </div>
          </div>
        </div>
        <!-- ---------------------------- Review Description ----------------------------- -->
        <div class="col-12">
          <div class="form-group">
            <label>Review Description</label>
            <textarea
              type="text"
              class="form-control input-type2 review-description"
              formControlName="reviewDescription"
            ></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>

  <!-- ---------------------------- Modal Footer ----------------------------- -->
  <ng-template pTemplate="footer">
    <div class="modal-footer-section">
      <button
        type="button"
        class="btn btn-primary"
        data-dismiss="modal"
        (click)="saveReview()"
        [disabled]="!reviewForm.valid"
      >
        Save
      </button>
      <button
        type="button"
        class="btn-default-new btn-small-new"
        data-dismiss="modal"
        (click)="hideModal(false)"
      >
        Cancel
      </button>
    </div>
  </ng-template>
</p-dialog>
