<div *ngFor="let service of services;let i = index" class="service-details">
  <div class="img service-img" *ngIf="serviceImgUrl">
    <img src={{serviceImgUrl}} [ngStyle]="{ 'border-color':'transparent'}" class="cirlc">
  </div>
  <div class="img" *ngIf="!serviceImgUrl">
    <div id="circle">
      <div class="segment"></div>
      <div [ngStyle]="{ 'border-color':activeLinkStyle.color}" class="segment"></div>
    </div>

    <div class="arrows">
      <span [ngStyle]="activeLinkStyle" class="font-arrow">&#187;</span>
    </div>
  </div>
  <div class="text">
    <p [ngStyle]="{ 'color':titleColor}" class="bold">{{service.name | uppercase}} </p>
    <div class="description1" *ngIf="service.description">

      <p class="no-sow" *ngIf="!showMore">
        {{ service.description | slice :0:100}} <span *ngIf=" !showMore && (service.description.length)> 70">...
          <a [ngStyle]="activeLinkStyle" href="javascript:;" *ngIf="!showMore" (click)="setShowMore(true,i)">[Show
            More]</a> </span>
      </p>

      <p class="no-sow1" *ngIf="showMore && i!== selectedIndex">
        {{ service.description | slice :0:100}} <span *ngIf=" showMore && (service.description.length) > 70">...
          <a [ngStyle]="activeLinkStyle" href="javascript:;" *ngIf="showMore" (click)="setShowMore(true,i)">[Show
            More]</a> </span> </p>

      <p class="sow" *ngIf="showMore && selectedIndex ===i">{{ service.description }}
        <a [ngStyle]="activeLinkStyle" href="javascript:;" *ngIf="showMore" (click)="setShowMore(false,i)">[Show
          Less]</a>
      </p>
    </div>
    <div *ngIf="service.showDepositCost" class="pricing">
      <p>
        <b>{{currency?.currencySymbol}} {{service.depositCost | number:'1.2-2'}} &nbsp; •
          <span>{{service.durationInMinutes ? service.durationInMinutes : '30'}} mins </span>
        </b>
      </p>
      <p>
        <b>Deposit Cost</b>
      </p>
    </div>
    <div *ngIf="service.priceVaries && !service.showDepositCost" class="pricing">
      <p>
        <b>Price Varies &nbsp; •
          <span>{{service.durationInMinutes ? service.durationInMinutes : '30'}} mins </span>
        </b>
      </p>
    </div>
    <div *ngIf="!service.priceVaries && !service.showDepositCost" class="pricing">
      <p>
        <b>{{currency?.currencySymbol}} {{service.serviceCost | number:'1.2-2'}} &nbsp; •
          <span>{{service.durationInMinutes ? service.durationInMinutes : '30'}} mins </span>
        </b>
      </p>
    </div>
  </div>
  <div class="radio-btn" style="float:right;" *ngIf="showRadio">
    <!-- <input type="checkbox" value={{service.id}} (click)="onServiceClick($event, service)"
      [checked]="isChecked(service.id)"> -->
    <ejs-checkbox [style.color]="buttonForegroundColor" (change)="onServiceClick($event, service)"
      [style.backgroundColor]="buttonBackgroundColor" value={{service.id}}
      [checked]="isChecked(service.id)"></ejs-checkbox>
  </div>

  <div class="book-btn-right" *ngIf="!showRadio">
    <button class="btn" (click)="onSelectedService(service?.id)"
      [ngStyle]="{'background-color': buttonBackgroundColor ,'color': buttonForegroundColor ,'border':buttonBackgroundColor }">
      <span>
        <a href="javascript:void(0)" [ngStyle]="{'color':buttonForegroundColor}">Book</a>
      </span>
    </button>
  </div>
</div>
