/*
 "./src/assets/static/js/datatable.min.js"
"./node_modules/datatables.net-dt/css/jquery.dataTables.css",
.dataTables_wrapper .dataTables_length label {
  display: flex;
  align-items: center;
}

.period select,
.dataTables_wrapper .dataTables_length label select {
  margin-left: 5px;
}

.dataTables_wrapper .row:nth-child(1) .col-sm-12 {
  width: auto;
}

.table-header-wrapper {
  display: flex;
  align-items: center;
}

.dataTables_wrapper .row:nth-child(1) {
  padding-top: 15px;
  padding-bottom: 1em;
  align-items: center;
}

.dataTables_wrapper .row:nth-child(1) .col-sm-12:nth-child(2) {
  display: flex;
  flex-direction: row-reverse;
  flex-grow: 1;
  align-items: center;
}

.dataTables_wrapper .mr-1 {
  margin-right: 15px;
}

.dataTables_wrapper th {
  font-weight: 500 !important;
  font-size: 14px;
  color: #6a7383;
}

.dataTables_wrapper th:hover {
  color: #000;
}

.dataTables_wrapper td {
  font-size: 13.5px;
  font-weight: 400;
  color: #404452;
}

table.dataTable.row-border tbody th,
table.dataTable.row-border tbody td,
table.dataTable.display tbody th,
table.dataTable.display tbody td {
  border-top: 1px solid #ebeef1 !important;
}

table.dataTable thead th,
table.dataTable thead td {
  border-bottom: 1px solid gainsboro;
}

table.dataTable thead th {
  border-top: 1px solid gainsboro;
  border-top: 1px solid gainsboro;
  background: rgb(99, 91, 255);
  color: #fff;
}

table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover {
  background-color: #f6f8fa
}

.period label,
.dataTables_wrapper .dataTables_length label {
  font-weight: 500;
  font-size: 14px;
}

.dataTables_wrapper .dataTables_filter input,
.period select,
.table-header-wrapper .dropdown-toggle,
.dataTables_wrapper .dataTables_length label select {
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(64 68 82 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(64 68 82 / 8%) 0px 2px 5px 0px
}

.dataTables_wrapper .dataTables_filter input,
.period select,
.table-header-wrapper .dropdown-toggle {
  border: none;
  background: none;
  border-radius: 6px;
}

.dataTables_wrapper .dataTables_length select {
  padding: 0px 4px;
  min-height: 0;
  height: 31px;
  min-width: 45px;
}

.table-btn-wrapper .icon {
  min-height: 31px;
  border-radius: 6px;
  padding: 6.5px 20px;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  background-color: #009EDE;
  box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(59 130 246) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(64 68 82 / 8%) 0px 2px 5px 0px;
}

.table-btn-wrapper .icon a {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  padding-left: 5px;
}

table.dataTable tbody td:first-letter,
table.dataTable tbody td:first-line {
  text-transform: capitalize;
}

table.dataTable tbody td i {
  margin-right: 10px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button a,
.dataTables_wrapper .dataTables_info {
  font-size: 14px;
  font-weight: 500;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  background: #fff !important;
  border: none;
  box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  width: auto;
  min-width: unset;
  padding: 1em 5px;
  box-shadow: none;
}

.table-header-wrapper .dropdown-toggle {
  height: 31px;
}

.datatable-table .title {
  padding: 1em 15px 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid gainsboro;
}

.datatable-table .title h3 {
  font-size: 24px;
  font-weight: 600;
}


 */
