.note-item{
  display: flex;
    align-items: center;
    column-gap: 2em;
    margin-bottom: 2em;
    padding: 1em;
    border: 1px dotted #c1bbbb;
}

.note-item a{
  color: #009EDE;
  font-weight: 500;
}

.note-item .text{
  font-size: 14px;
  font-weight: 500;
}
.note-item .date{
  font-size: 14px;
  margin-top: 10px;
  font-weight: 500;
}

.note-item .file-icon{
  padding: 3px;
}

.note-item .file-name{
  margin-right: 10px;
  font-weight: 500;
}

.note-item .notes-link{
  color: #333;
}

@media screen and (max-width:767px) {
  .note-item{
    flex-direction: column;
  }

  .panel-card-content{
    max-width: 100%;
  }
  .avatar img{
    height: auto !important;
    border-radius: 50%;
    /* border: 2px solid gainsboro; */
    margin-bottom: 2em;
  }
}
