.appointment-events{
  width: 100%;
  padding: 1em;
}
::ng-deep .p-calendar{
  width: 100%;
}
::ng-deep .p-datepicker-inline,
.p-datepicker-inline{
  width: 100% !important;
  border-radius: 12px;
  background-color: #fff;

}
::ng-deep .p-tabview .p-tabview-panels,
.p-tabview .p-tabview-panels,
.calendar-mobile{
  background: #EDF0F4;
}

::ng-deep .p-tabview .p-tabview-panels{
  padding-left: 0;
  padding-right: 0;
}

.add-btn{
  margin: 2em 1em;
    display: flex;
    justify-content: flex-end;
}
/* -------------------------- appointment card css -------------------------- */

.appointment-card {
  background-color: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 2em;
}

.appointment-card .wrapper {
  border-left: 8px solid #009EDE;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 18px 22px;
}

.appointment-card .blue-border {
  width: 8px;
  height: 100%;
  background-color: #009EDE;
}

.appointment-card .details .name {
  font-size: 16px;
  line-height: 1.6;
  font-weight: 700;
  color: #263238;
}

.appointment-card .details .time-slot {
     color: #7F7F7F;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
}

.appointment-card .details .status{
  font-size: 14px;
  margin-top: 10px;
}
.appointment-card .details .status .pending{
      padding: 2px 5px;
    border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #ff0000db;
    background: #ff000017;
    color: red;
    font-size: 12px;
}
.appointment-card .details .status .approved{
  padding: 2px 5px;
    border-radius: 5px;
    border: 2px solid #52afff;
    background: #2da9fa30;
    color: #52afff;
    font-size: 12px;

}
.appointment-card .date-container {
  min-width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #009EDE;
}
.date-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.edit-icon{
  margin-top: 1em;
}

/* ------------------------ appointment card css end ------------------------ */
