<div class="quota p-0 mt-3">
  <div class="quota-box">
    <p class="title">SMS Quota</p>
    <div class="quota-progress">
      <div class="progress-wrapper">
        <div class="progress">
          <div class="progress-bar" role="progressbar" [style.backgroundColor]="emailSmsQuotaResponse?.smsBgColor"
            [style.width]="emailSmsQuotaResponse?.smsPercent+'%'" aria-valuenow="2" aria-valuemin="0"
            aria-valuemax="100">{{emailSmsQuotaResponse?.smsCount}}</div>
        </div>

        <div class="progress-units">
          <p>
            SMS left {{totalSms }}
          </p>

          <p>
            Total {{totalSms + emailSmsQuotaResponse?.smsCount}}
          </p>
        </div>
      </div>


      <div class="button-flex">
        <button class="btn-save-new btn-small-new" (click)="getTriggerAudit('SMS')">
          Show Details
        </button>

        <button class="btn-default-new btn-small-new" (click)="showPacks()">
          Buy Pack
        </button>
      </div>
    </div>
  </div>

  <div class="quota-box">
    <p class="title">Email Quota</p>
    <div class="quota-progress">
      <div class="progress-wrapper">
        <div class="progress">
          <div class="progress-bar" role="progressbar" [style.backgroundColor]="emailSmsQuotaResponse?.emailBgColor"
            [style.width]="emailSmsQuotaResponse?.emailPercent+'%'" aria-valuenow="2" aria-valuemin="0"
            aria-valuemax="100">{{emailSmsQuotaResponse?.emailCount}}</div>
        </div>

        <div class="progress-units">
          <p>
            Email left {{totalEmail }}
          </p>

          <p>
            Total {{totalEmail + emailSmsQuotaResponse?.emailCount }}
          </p>
        </div>
      </div>


      <div class="button-flex">
        <button class="btn-save-new btn-small-new" (click)="getTriggerAudit('EMAIL')">
          Show Details
        </button>

        <button class="btn-default-new btn-small-new" (click)="showPacks()">
          Buy Pack
        </button>
      </div>
    </div>
  </div>
</div>