.msger {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  width: 100%;
  height: 100%;
  background: #f8fafe;
  padding: 1em;
}

.msger-chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: #fcfcfe;
}

.msger-chat::-webkit-scrollbar {
  width: 6px;
}

.msger-chat::-webkit-scrollbar-track {
  background: #ddd;
}

.msger-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}

.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}

.msg:last-of-type {
  margin: 0;
}

.msg-bubble {
  width: 85%;
}

.msg-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
  font-size: 14px;
}

.msg-info-time {
  font-size: 0.85em;
}

.msg-text {
  font-size: 13.5px;
  overflow-wrap: break-word;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.right-msg {
  display: flex;
  justify-content: flex-end;
}

.right-msg .msg-bubble {
  border-bottom-right-radius: 0;
}

.right-msg .panel-body {
  border-radius: 0;
}

.msg-panel {
  display: flex;
}
