.search-container {
  display: flex;
  align-items: center;
}

.search-container .flex-box{
  display: flex;
  align-items: center;
  column-gap: 1em;
}

.search-container form {
  flex: 1 0 auto;
}

.review-wrapper{
  padding: 24px 24px;
}

input.form-control{
  padding: 3px 8px;
  border-radius: 16px;
}


@media screen and (max-width: 767px) {
  .search-container {
    flex-direction: column;
    align-items: flex-start;
  }
}
