.form-group {
  margin-bottom: 30px;
}

.flex-sb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button-flex {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 15px;
  margin-right: -15px;
}

.btn {
  color: #ffffff;
  border: #009ede;
  background-color: #009ede;

}
