
  .menu-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  .menu-name{
    font-weight: 500;
    font-size: 14px;
    padding-left: 5px;
  }

  .badge-primary {
    color: #fff;
    margin-left: 1em;
    background-color: #007bff;
}

.btn-flex{
    display: flex;
    justify-content: flex-end;
  }