.lead-info-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1em;
  height: 100%;
}

.lead-info-card {
  background-color: #f8fafe;
  border-radius: 1em;
  overflow: hidden;
  /* height: 420px; */
}

.lead-info-card.task-container,
.lead-info-card.notes-card {
  height: 50%;
  display: flex;
  flex-direction: column;
}

.lead-info-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.74em 1em;
  background-color: #d8e2f6;
}

.panel-body {
  padding: 0;
  margin: 0;
}

.source-url {
  color: #2656c9;
  font-size: 12px;
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.lead-status .lead-status-name {
  color: #333;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.lead-status .lead-status-name.PENDING {
  background-color: #ffb800;
}

.lead-status .lead-status-name.JUNK {
  background-color: #9f9f9f;
}

.lead-status .lead-status-name.NEW {
  background-color: #01b700;
}

.lead-status .lead-status-name.COLD {
  background-color: #00b2d6;
}

.lead-status .lead-status-name.WARM {
  background-color: #fb6900;
}

.lead-status .lead-status-name.HOT {
  background-color: #c51900;
}

.lead-status .lead-status-name.WON {
  background-color: #aa4ee7;
}

.lead-status .lead-status-name.DEAD {
  background-color: #000000;
}

.lead-info-footer {
  background-color: #fff;
  margin: 0 0.5em 0.5em 0.5em;
  padding: 0 0.25em;
  border-radius: 4px;
}

.lead-info-footer .lead-comment-form {
  border-top: 1px solid #d8e2f6;
}

.notes-item {
  display: flex;
  flex-direction: column;
}

.notes-item .notes-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}

.notes-item .notes-header .notes-header-item {
  display: flex;
  align-items: center;
  gap: 6px;
}

.notes-item .notes-header .notes-time {
  color: #333;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.46;
}

.notes-item .notes-header .notes-header-item .author-img {
  width: 21px;
  height: 21px;
  border-radius: 100%;
  overflow: hidden;
}

.notes-item .notes-header .notes-header-item .author-name {
  color: #3255c2;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.notes-item .notes-body-item .notes-description {
  border-radius: 6px;
  border: 1px solid #d8e2f6;
  background: #f8fafe;
  padding: 0.5em 0.75em;
  color: #333;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  word-wrap: break-word;
}

.notes-wrapper {
  height: 100%;
  /* padding: 0px 10px; */
  overflow-y: auto;
}

.notes-textbox-wrapper {
  position: relative;
}

.notes-textbox-wrapper textarea {
  color: #595959;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.notes-textbox-wrapper .send-icon {
  cursor: pointer;
  position: absolute;
  bottom: 3px;
  right: 7px;
  color: grey;
}

.notes-textbox-wrapper .upload-icon {
  cursor: pointer;
  position: absolute;
  bottom: 3px;
  right: 30px;
  color: grey;
}

.notes-date-wrapper {
  text-align: center;
  margin: 0.25em 0;
  padding-top: 0.25em;
}

.notes-date-wrapper .notes-date {
  background-color: #d8e2f6;
  border-radius: 1em;
  padding: 6px 12px;
  color: #333;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.notes-link {
  color: #333;
}

.light-txt {
  color: #fff;
  font-weight: 400;
  line-height: normal;
  font-size: 12px;
}

.dark-txt {
  color: #2656c9;
  font-weight: 400;
  line-height: normal;
  font-size: 12px;
}

.transparent-btn {
  height: 30px;
  width: 56px;
  background-color: inherit;
  border-radius: 20px;
  border: 1px solid #2656c9;
  font-size: 12px;
  color: #2656c9;
  margin-right: 5px;
  font-weight: 400;
  line-height: normal;
}

.transparent-noborder-btn {
  height: 30px;
  width: 56px;
  background-color: #f0f0f0;
  border-radius: 20px;
  border: 1px solid #f0f0f0;
  font-size: 12px;
  color: #595959;
  margin-right: 5px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-weight: 400;
  line-height: normal;
}

.blue-btn {
  height: 30px;
  width: auto;
  padding: 0px 8px;
  background-color: #2656c9;
  border-radius: 20px;
  border: 1px solid #2656c9;
  font-size: 12px;
  text-align: center;
  color: #595959;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 5px;
  font-weight: 400;
  line-height: normal;
}

input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: normal !important;
  font-size: 12px;
  line-height: 21px;
  color: #6c757d;
}

.no-data {
  height: 250px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 400;
}

.notes-wrapper::-webkit-scrollbar {
  width: 6px;
}

.notes-wrapper::-webkit-scrollbar-track {
  background: #ddd;
}

.notes-wrapper::-webkit-scrollbar-thumb {
  background: #d8e2f6;
}

.lead-color-btn {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin: 0 2px 0 0;
}

.save-icon {
  cursor: pointer;
}

.custom-form-group {
  display: flex;
  align-items: flex-start;
}

.custom-form-group .form-control {
  height: 40px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.tasks-wrapper {
  width: 100%;
  min-height: 40px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #dbdbdb;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem;
  padding: 0.25rem;
}

.tasks-wrapper .task {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 1rem;
  background-color: #d8e2f6;
  color: #2656c9;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.add-task-icon {
  cursor: pointer;
  background: #2656c9;
  padding: 8px 13px;
  border-radius: 4px;
  color: #fff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

p-multiSelect label {
  max-width: 150px;
}

.task-table-head-txt {
  color: #333;
  font-family: Work Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

p-table td small {
  color: #333;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  cursor: pointer;
}

::ng-deep .p-datatable-wrapper {
  padding: 0;
  margin: 12px;
  border: 1px solid #d8e2f6;
  background: #f8fafe;
}

::ng-deep .p-datatable .p-datatable-tbody > tr {
  background-color: #ffffff;
}

.initials-circle {
  background: #2656c9;
  color: #fff;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 24px;
  width: 21px;
}

.circle {
  height: 12px;
  width: 12px;
  border-radius: 12px;
  margin-right: 5px;
}

.Todo {
  background-color: #ff7d01 !important;
}

.Inprogress {
  background-color: #01b700 !important;
}

.Completed {
  background-color: #2656c9 !important;
}

.Todotxt {
  color: #ff7d01 !important;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Inprogresstxt {
  color: #01b700 !important;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.Completedtxt {
  color: #2656c9 !important;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.small-table {
  overflow-y: auto;
}

.selected-file {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 0.2rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0.375rem;
}

.file-info {
  display: flex;
  align-items: center;
}

.file-name {
  margin-right: 10px;
  font-size: 12px;
}

.file-icon {
  padding: 3px;
  font-size: 12px;
}

.patient-notes-btns {
  display: flex;
  margin-left: auto;
}

.edit-btn,
.delete-btn {
  cursor: pointer;
  padding: 5px;
  font-size: 12px;
}

.edit-btn:hover,
.delete-btn:hover {
  background-color: #f0f0f0;
  border-radius: 4px;
}