<div class="main-container">
  <div class="authenticated-section" #headerSection>

    <div class="warning-banner new-warning-panel" *ngIf="isSupportUser && isSupportUser!== 'false'">
      <p>
        You are accessing business account {{businessData?.name}}. Be careful.
      </p>
    </div>


    <div class="left-sidebar" [ngClass]="isSupportUser && isSupportUser!== 'false' ? 'banner-show' : 'no-banner'"
      *ngIf="userData && userData?.idToken && !hideSidebar && businessData">
      <app-new-sidebar3></app-new-sidebar3>
    </div>

    <div class="right-section" id="collapseNavMenu"
      [ngClass]="userData && userData.idToken && !hideHeader ? 'shift-right': 'hidesidebar'">


      <div class="hidden">
        {{userData && userData?.idToken ? 'userData true' : 'userData false'}}
        {{businessData ? 'businessData true' : 'businessData false'}}
  
        {{hideHeader ? 'hideHeader true' : 'hideHeader false'}}
      </div>
     

      <ng-container  *ngIf="userData && userData?.idToken && businessData">
        <div class="header-section" [ngClass]="userData && userData?.idToken && !hideHeader && businessData ? '': 'hidden'">
          <app-header></app-header>
        </div>
      </ng-container>
      

      <div class="route-section">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
<ngx-ui-loader></ngx-ui-loader>
