.form-group {
    margin-bottom: 30px;
}

.error-red{
    color:red;
}
.appointment-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2px;
    margin-left: 3px;
}

.edit-appointment-heading {
    flex: 1;
}

.button-container {
    display: flex;
    gap: 10px;
}
.btn-default-del{
    background: #fff;
    color: red;
    padding: 4.2px 10px;
    border-radius: 24px;
    margin-right: 5px;
    border: 2px solid red !important;
    min-width: 100px;
    min-height: 37px;
    font-size: 14px;
  }