
#female-front-1 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/female/front-pose.png');
}

#female-front-2 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/female/F4FrontBody.png');
}

#female-front-3 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/female/F5FrontBody.png');
}

#female-front-4 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/female/F1FrontBody.png');
}

#female-front-5 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/female/F2FrontBody.png');
}

#female-front-6 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/female/F3FrontBody.png');
}

#female-front-7 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/female/F7Front.png');
}

#female-front-8 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/female/F8Front.png');
}

#female-front-9 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/female/Model3-front.png');
}

#female-front-10 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/female/Model1-front.png');
}

#female-front-11 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/female/Model2-front.png');
}

#female-front-12 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/female/Model4-front.png');
}

#female-front-13 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/female/Model5-front.png');
}

#female-front-14 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/female/Model7-front.png');
}

#female-back-1 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/female/back-pose.png');
}

#female-back-2 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/female/F4BackBody.png');
}

#female-back-3 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/female/F5BackBody.png');
}

#female-back-4 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/female/F1BackBody.png');
}

#female-back-5 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/female/F2BackBody.png');
}

#female-back-6 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/female/F3BackBody.png');
}

#female-back-7 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/female/F7Back.png');
}

#female-back-8 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/female/F8Back.png');
}

#female-back-9 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/female/Model3-back.png');
}

#female-back-10 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/female/Model1-back.png');
}

#female-back-11 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/female/Model2-back.png');
}

#female-back-12 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/female/Model4-back.png');
}

#female-back-13 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/female/Model5-back.png');
}

#female-back-14 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/female/Model7-back.png');
}

#male-front-1 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/male/M4FrontBody.png');
}

#male-front-2 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/male/M5FrontBody.png');
}

#male-front-3 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/male/M6FrontBody.png');
}

#male-front-4 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/male/M1FrontBody.png');
}

#male-front-5 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/male/M2FrontBody.png');
}

#male-front-6 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/male/M3FrontBody.png');
}

#male-front-7 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/male/M7FrontBody.png');
}

#male-front-8 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/male/M8FrontBody.png');
}

#male-front-9 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/male/M9FrontBody.png');
}

#male-front-10 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/male/Model6-front.png');
}

#male-back-1 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/male/M4BackBody.png');
}

#male-back-2 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/male/M5BackBody.png');
}

#male-back-3 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/male/M6BackBody.png');
}

#male-back-4 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/male/M1BackBody.png');
}

#male-back-5 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/male/M2BackBody.png');
}

#male-back-6 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/male/M3BackBody.png');
}

#male-back-7 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/male/M7BackBody.png');
}

#male-back-8 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/male/M8BackBody.png');
}

#male-back-9 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/male/M9BackBody.png');
}

#male-back-10 {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url('https://g99plus.b-cdn.net/AEMR/assets/img/models/male/Model6-back.png');
}
#imageContainer {
  align-content: center;
  width: 50%;
  scroll-padding-top: 0px;
  display: inline-block
}

#im2 {
  align-content: center;
  position: relative !important;
  scroll-padding-top: 0px;
  display: inline-block;
  width: 22vw !important;
  height: 80vh !important;
}


.svg-container {
  display: inline-block;
  position: absolute;
  width: 100%;
  height: 100%;
  /* padding-bottom: 100%;  */
  vertical-align: middle;
  overflow: hidden;
  align-content: center;
  top: 0;
  left: 0;
}

.svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.model-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

a.svg {
  position: relative;
  display: inline-block;
  z-index: 1;
}

a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

svg {
  pointer-events: all;
}


.st0 {
  fill: #FEEBE5;
}

.st1 {
  fill: #FFFFFF;
}

.st2 {
  fill: #664534;
}

.st3 {
  fill: #FFB6B6;
}

.st4 {
  fill: #C90E3B;
  stroke: #3C3C3B;
  stroke-width: 0.3322;
  stroke-miterlimit: 10;
}

.st5 {
  fill: #C90E3B;
}

.st7 {
  fill: #F93564;
}

.st8 {
  fill: #FFA9C2;
}

.st9 {
  fill: none;
  stroke: #664534;
  stroke-width: 0.5481;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.st14 {
  fill: #00A19A;
  opacity: 0.0;
}

.st14:hover {
  fill: #00A19A;
  opacity: 0.5;
}

.image-container.align3{
  display: flex;
  justify-content: center;
}
.composer-modal-header p{
  color: #fff;
  font-weight: 400;
  font-size: 14px;
}
.composer-modal-header{
  width: 100%;
}

.composer-modal-header .modal-title{
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 5px;
}

@media screen and (max-width:991px) {
  .model-container{
    min-height: 400px;
    min-width: 300px;
  }
  #im2{
    width: 100% !important;
  }
  ::ng-deep .p-dialog .p-dialog-content,
  .p-dialog .p-dialog-content{
    padding: 15px !important;
  }
  .p-dialog .p-dialog-header,
  ::ng-deep .p-dialog .p-dialog-header{
    padding: 15px;
  }
}


@media screen and (max-width:767px) {
  #im2{
   margin-top: 3em;
  }
}
