<div class="blue-card questionarie-class">

  <form [formGroup]="questionnaireForm">
    <div class="add-edit-form tab-view">
      <div class="form form-type2">
        <div class="row mx-0">
          <div class="col-lg-8 col-md-12 col-sm-12" style="padding-left: 15px;">
            <div class="panel-blue">

              <div class="panel-inner-wrapper">

                <div class="flex-row-new flex-md-col-new">
                  <!-- ----------------------------- Name Feild ----------------------------- -->
                  <div class="input-wrapper">
                    <div class="form-group"
                      [ngClass]="f.name.invalid && (f.name.dirty || f.name.touched) ? 'has-error': '' ">
                      <label>Questionnaire Name<span class="error-red">*</span></label>
                      <input type="text" class="form-control input-type2" formControlName="name"
                        appErrorStylingDirective />

                    <div class="error error-msg">
                      <div *ngIf="f.name.errors?.required">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Questionnaire Name is
                        required
                      </div>
                      <div *ngIf="f.name.errors?.pattern">
                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                        Questionnaire Name is invalid
                      </div>
                    </div>
                  </div>
                </div>



                 <!-- -------------------------- Submit button text --------------------------- -->

                 <div class="input-wrapper form-group">
                  <label for="">Button text</label>

                  <input type="text" class="form-control input-type2" formControlName="submitButtonText"
                    appErrorStylingDirective />

                </div>

                </div>
                <div class="input-wrapper mt-2">
                  <div class="form-group">
                    <div class="button-flex">
                      <button [disabled]="!questionnaireForm.valid" (click)="submitForm()"
                        class="btn-save-new btn-small-new">
                        Save
                      </button>

                      <button type="button" (click)="back()" class="btn-small-new btn-default-new">
                        Cancel
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="panel-blue" *ngIf="questionnaireId">
              <div class="panel-inner-wrapper">
                <div *ngIf="questionnaireId">
                  <app-questionarie-builder [questionnaireId]="questionnaireId" [buisnessId]="businessId"
                    [enabledModernUi]="enabledModernUi" [isLeadCaptureForm]="isLeadCaptureForm"
                    [isLeadForm]="isLeadForm"></app-questionarie-builder>
                </div>
              </div>
            </div>

          </div>
          <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="righ-card">
              <app-contact-form-right-card [questionnaireId]="questionnaireId" [questionnaire]="questionnaire"
                [cssFormResponse]="cssFormResponse" [publicQuestionnaireUrl]="publicQuestionnaireUrl"
                [modernUiIframeUrl]="modernUiIframeUrl" [modernUiUrl]="modernUiUrl"
                [iframeUrl]="iframeUrl"></app-contact-form-right-card>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>