<main class="login login-page new-ui">
  <img src="https://g99plus.b-cdn.net/AA%20new%20g99%20app/images/Geometric%20patterns.png" class="login-geometric-bg">
  <div class="top-section">
    <div class="center-content">
      <img src="https://g99plus.b-cdn.net/AA%20new%20g99%20app/images/g99%20full%20logo.svg" class="logo">
      <ng-container *ngIf="!isChangePassword">
        <div class="main-box">
          <h2 class="title">Forgot Password</h2>
          <p class="small-text">
            Enter your email address and click on send request to receive the verification code.


          </p>
          <ng-container *ngIf="errMsg">
            <app-error-success-panel [error]="errMsg" [success]="accountCreationMessage"></app-error-success-panel>
          </ng-container>

          <!-- ----------------------------------------------------------------------- -->
          <!--                          Forget Password FOrm                           -->
          <!-- ----------------------------------------------------------------------- -->

          <form [formGroup]="loginForm" (ngSubmit)="submitForm()" class="input-color">
            <!-- Input Email -->
            <div class="input-field form-group"
              [ngClass]="loginForm.controls.email.invalid && ((loginForm.controls.email.dirty || loginForm.controls.email.touched))?'has-error':''">
              <span class="label">Email</span>
              <input formControlName="email" type="text" class="input form-control">
              <div class="error error-msg" *ngIf="(loginForm.dirty || loginForm.touched)
                                        && loginForm.controls.email.errors?.required">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Email address is required.
              </div>
              <div class="error error-msg" *ngIf="(loginForm.dirty || loginForm.touched)
                                        && loginForm.controls.email.errors?.pattern">
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Email address is invalid.
              </div>
            </div>


            <button [disabled]="!loginForm.valid" class="btn-save-new btn-small-new">Send Request</button>

            <p class="normal text-center no-account">
              <!-- <a routerLink="/" class="link">Sign In</a> |
              <a routerLink="/sign-up" class="link"> Sign up</a> -->
              <a routerLink="/" class="link-new">Sign In</a>
            </p>
          </form>






        </div>
      </ng-container>

      <!-- ----------------------------------------------------------------------- -->
      <!--                          Change PAsswrod Form                           -->
      <!-- ----------------------------------------------------------------------- -->
      <ng-container *ngIf="isChangePassword">
        <div class="main-box">
          <h2 class="title">Change Password</h2>
          <p class="small-text">
            Enter your password and confirmation code and submit.
          </p>
          <ng-container *ngIf="errMsg">
            <app-error-success-panel [error]="errMsg" [success]="accountCreationMessage"></app-error-success-panel>
          </ng-container>

          <!-- ----------------------------------------------------------------------- -->
          <!--                          Forget Password FOrm                           -->
          <!-- ----------------------------------------------------------------------- -->
          <form [formGroup]="changePasswordForm" (ngSubmit)="submitChangePassword()" class="input-color">

            <!-- ----------------------------- Email Field ----------------------------- -->
            <div class="form-group" [ngClass]="f.email.invalid && ((f.email.dirty || f.email.touched))?'has-error':''">
              <label>Email Address<span class="error-red">*</span></label>
              <input type="text" class="form-control input-type2" formControlName="email" appErrorStylingDirective>
              <div class="error error-msg">
                <div *ngIf="f.email.errors?.required">
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Email address is required.
                </div>
                <div *ngIf="f.email.errors?.pattern">
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Email addressis invalid.
                </div>
              </div>
            </div>

            <!-- --------------------------- Password Field ---------------------------- -->
            <div class="form-group"
              [ngClass]="f.password.invalid && ((f.password.dirty || f.password.touched))?'has-error':''">
              <label>Password<span class="error-red">*</span></label>
              <input type="password" autocomplete="new-password" class="form-control input-type2"
                formControlName="password" appErrorStylingDirective>
              <div class="error error-msg">
                <div *ngIf="f.password.errors?.required">
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Password is required.
                </div>
                <div *ngIf="f.password.errors?.pattern">
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Password must contain one small character, one upper case charcter, one number and one of (!, &#64;, $). It must
                  be minimum 8 characters long.
                </div>
              </div>
            </div>

            <!-- --------------------------- Password Field ---------------------------- -->
            <div class="form-group"
              [ngClass]="f.confirmPassword.invalid && ((f.confirmPassword.dirty || f.confirmPassword.touched))?'has-error':''">
              <label>Confirm Password<span class="error-red">*</span></label>
              <input type="password" class="form-control input-type2" formControlName="confirmPassword"
                appErrorStylingDirective>
              <div class="error error-msg">
                <div *ngIf="f.confirmPassword.errors?.required">
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Confirm Password is required.
                </div>
                <div *ngIf="f.confirmPassword.errors?.mustMatch">
                  <i class="fa fa-exclamation-triangle" aria-hidden="true">Passwords must match.</i>
                </div>
              </div>
            </div>

            <!-- --------------------------- Password Field ---------------------------- -->
            <div class="form-group"
              [ngClass]="f.confirmationCode.invalid && ((f.confirmationCode.dirty || f.confirmationCode.touched))?'has-error':''">
              <label>Confirmation Code<span class="error-red">*</span></label>
              <input type="text" class="form-control input-type2" formControlName="confirmationCode"
                appErrorStylingDirective>
              <div class="error error-msg">
                <div *ngIf="f.confirmationCode.errors?.required">
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Confirm Code is required.
                </div>

              </div>
            </div>

            <button [disabled]="!changePasswordForm.valid" class="btn-save-new btn-small-new">Continue</button>

            <p class="normal text-center no-account">
              <!-- <a routerLink="/" class="link">Sign In</a> |
              <a routerLink="/sign-up" class="link"> Sign up</a> -->
              <a routerLink="/" class="link">Sign In</a>
            </p>
          </form>
        </div>
      </ng-container>


    </div>
  </div>

</main>
