<!-- <div>
  <input matInput [matDatepicker]="picker" [formControl]="control"  placeholder="Choose a date">
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</div> -->


<div class="form-input-field" *ngIf="!isDateTimePicker">
  <input readonly class="form-control"  matInput [ngxMatDatetimePicker]="picker1"
  placeholder="Choose a date" [formControl]="control" >
  <mat-datepicker-toggle matSuffix [for]="$any(picker1)"></mat-datepicker-toggle>
  <ngx-mat-datetime-picker #picker1></ngx-mat-datetime-picker>
</div>


<div class="form-input-field" *ngIf="isDateTimePicker">
  <input readonly class="form-control"  matInput [ngxMatDatetimePicker]="picker1"
  placeholder="Choose a date" [formControl]="control" >
  <mat-datepicker-toggle matSuffix [for]="$any(picker1)"></mat-datepicker-toggle>
  <ngx-mat-datetime-picker #picker1></ngx-mat-datetime-picker>
</div>
