button{
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  padding-left: 5px;
  border: none;
  background-color: transparent;
}
.disabled{
  opacity: 0.7;
  pointer-events: none;
}
.txt{
  color: #2656c9;
  font-size: 15px;
  padding-left: 5px;
}