<div class="bg-white datatable-table">
  <div class="table-list">
    <p-table #dt1 responsiveLayout="stack" [value]="rowData" [reorderableColumns]=true [sortField]="'id'"
      [sortOrder]="-1" [columns]="selectedColumns" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
      [globalFilterFields]="globalFilterColumn" [(selection)]="selectedRows">

      <ng-template pTemplate="caption">
        <div class="caption-header flex align-items-center py-2">
          <p-multiSelect [resetFilterOnHide]="true" [options]="columns" [(ngModel)]="selectedColumns"
            optionLabel="header" selectedItemsLabel="{0} Columns" [style]="{minWidth: '120px'}"
            placeholder="Choose Columns">
          </p-multiSelect>

          <select style="width: 120px; height: 32px; margin: 0px 0px 0px 10px; font-size: 14px;"
            [(ngModel)]="activePriorityFilter" class="form-select" #prioritySelect
            (change)="filterPriorityTask(prioritySelect.value)">
            <option selected="true" disabled="disabled" value="">By Priority</option>
            <option value="All">All</option>
            <option value="Medium">Medium</option>
            <option value="Low">Low</option>
            <option value="High">High</option>
          </select>

          <select style="width: 130px; height: 32px; margin: 0px 5px 0px 5px; font-size: 14px;" #statusSelect
            class="form-select" [(ngModel)]="activeFilter" (change)="filterTask(statusSelect.value)">
            <option selected="true" disabled="disabled" value="">By Status</option>
            <option value="All">All</option>
            <option value="Completed">Completed</option>
            <option value="Inprogress">In Progress</option>
            <option value="Todo">To-do</option>
            <option value="overdue">Overdue</option>
          </select>

          <select style="width: 140px; height: 32px; margin: 0px 10px 0px 0px; font-size: 14px;"
            [(ngModel)]="activeDateFilter" class="form-select" #Dateselect
            (change)="filterTaskDeadline(Dateselect.value)">
            <option selected="true" disabled="disabled" value="">By Due-Date</option>
            <option value="All">All</option>
            <option value="Today">Today</option>
            <option value="Tomorrow">Tomorrow</option>
            <option value="Yesterday">Yesterday</option>
            <option value="LastWeek">Last Week</option>
            <option value="NextWeek">Next Week</option>
            <option value="Between">Between</option>
            <option value="After">After</option>
            <option value="Before">Before</option>
          </select>

          <ng-container *ngIf="activeDateFilter === 'Between'">
            <div class="d-flex align-items-center flex-row" style="position: relative; bottom: 10px;">
              <div class="d-flex flex-column mr-1">
                <label for="startDate" style="font-size: 14px;">Start Date:</label>
                <input style="font-size: 12px; width: 120px;" type="date" class="form-control" id="startDate"
                  [(ngModel)]="startDate" (change)="filterTaskDeadline('Between')" [min]="minDate"
                  [max]="endDate || maxDate" />
              </div>
              <div class="d-flex flex-column">
                <label for="endDate" style="font-size: 14px;">End Date:</label>
                <input style="font-size: 12px; width: 120px;" type="date" class="form-control" id="endDate"
                  [(ngModel)]="endDate" (change)="filterTaskDeadline('Between')" [min]="startDate || minDate"
                  [max]="maxDate" />
              </div>
            </div>
          </ng-container>

          <ng-container *ngIf="activeDateFilter === 'After'">
            <div style="position: relative; bottom: 12px;">
              <label for="afterDate" style="font-size: 14px;">Date After:</label>
              <input style="font-size: 12px; width: 120px;" type="date" class="form-control" id="afterDate"
                [(ngModel)]="afterDate" (change)="filterTaskDeadline('After')" [min]="minDate" [max]="maxDate" />
            </div>
          </ng-container>

          <ng-container *ngIf="activeDateFilter === 'Before'">
            <div style="position: relative; bottom: 12px;">
              <label for="beforeDate" style="font-size: 14px;">Date Before:</label>
              <input style="font-size: 12px; width: 120px;" type="date" class="form-control" id="beforeDate"
                [(ngModel)]="beforeDate" (change)="filterTaskDeadline('Before')" [min]="minDate" [max]="maxDate" />
            </div>
          </ng-container>

          <span class="p-input-icon-left ml-auto"><i class="pi pi-search"></i>
            <div class="table-button">
              <input pInputText class="search-table" type="text"
                (input)="dt1.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />
            </div>
          </span>
        </div>


        <ng-container *ngIf="selectedRows && selectedRows.length > 0">
          <div class="caption-footer d-flex justify-content-between align-items-center p-2">
            <div class="row-selection">
              <span class="rows-selected-text">
                {{ selectedRows.length }} Items Selected
              </span>
              <span class="unselect-all-btn" (click)="unselectTriggers()">
                Unselect All
              </span>
            </div>
            <div class="selection-btn-wrapper">

              <div class="dropdown d-flex align-items-center">
                <span class="button deleted-btn" id="dropdownMenuButton" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M20 8.25V18C20 21 18.21 22 16 22H8C5.79 22 4 21 4 18V8.25C4 5 5.79 4.25 8 4.25C8 4.87 8.24997 5.43 8.65997 5.84C9.06997 6.25 9.63 6.5 10.25 6.5H13.75C14.99 6.5 16 5.49 16 4.25C18.21 4.25 20 5 20 8.25Z"
                      stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path
                      d="M16 4.25C16 5.49 14.99 6.5 13.75 6.5H10.25C9.63 6.5 9.06997 6.25 8.65997 5.84C8.24997 5.43 8 4.87 8 4.25C8 3.01 9.01 2 10.25 2H13.75C14.37 2 14.93 2.25 15.34 2.66C15.75 3.07 16 3.63 16 4.25Z"
                      stroke="#292D32" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                    <path d="M8 13H12" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round" />
                    <path d="M8 17H16" stroke="#292D32" stroke-width="1.5" stroke-linecap="round"
                      stroke-linejoin="round" />
                  </svg>
                  Update Status</span>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" (click)="updateStatus('Completed')">Completed</a>
                  <a class="dropdown-item" (click)="updateStatus('Inprogress')">In Progress</a>
                  <a class="dropdown-item" (click)="updateStatus('Todo')">To-do</a>
                  <!-- <a class="dropdown-item" (click)="updateStatus('Overdue')">Overdue</a> -->
                </div>
              </div>

              <div class="dropdown d-flex align-items-center">
                <span class="button deleted-btn" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                    <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                    <g id="SVGRepo_iconCarrier">
                      <path
                        d="M7 10H17M7 14H12M7 3V5M17 3V5M6.2 21H17.8C18.9201 21 19.4802 21 19.908 20.782C20.2843 20.5903 20.5903 20.2843 20.782 19.908C21 19.4802 21 18.9201 21 17.8V8.2C21 7.07989 21 6.51984 20.782 6.09202C20.5903 5.71569 20.2843 5.40973 19.908 5.21799C19.4802 5 18.9201 5 17.8 5H6.2C5.0799 5 4.51984 5 4.09202 5.21799C3.71569 5.40973 3.40973 5.71569 3.21799 6.09202C3 6.51984 3 7.07989 3 8.2V17.8C3 18.9201 3 19.4802 3.21799 19.908C3.40973 20.2843 3.71569 20.5903 4.09202 20.782C4.51984 21 5.07989 21 6.2 21Z"
                        stroke="#292D32" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                    </g>
                  </svg>
                  Update Priority</span>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" (click)="updatePriority('High')">High</a>
                  <a class="dropdown-item" (click)="updatePriority('Low')">Low</a>
                  <a class="dropdown-item" (click)="updatePriority('Medium')">Medium</a>
                </div>
              </div>

              <span class="button deleted-btn" (click)="deleteAllSelectedTemplateModal(false)">
                <span>
                  <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                    <path
                      d="M17.5 5.60833C17.4833 5.60833 17.4583 5.60833 17.4333 5.60833C13.025 5.16667 8.62501 5 4.26667 5.44167L2.56667 5.60833C2.21667 5.64167 1.90834 5.39167 1.87501 5.04167C1.84167 4.69167 2.09167 4.39167 2.43334 4.35833L4.13334 4.19167C8.56667 3.74167 13.0583 3.91667 17.5583 4.35833C17.9 4.39167 18.15 4.7 18.1167 5.04167C18.0917 5.36667 17.8167 5.60833 17.5 5.60833Z"
                      fill="#333333" />
                    <path
                      d="M7.08334 4.76666C7.05 4.76666 7.01667 4.76666 6.975 4.75832C6.64167 4.69999 6.40834 4.37499 6.46667 4.04166L6.65 2.94999C6.78334 2.14999 6.96667 1.04166 8.90834 1.04166H11.0917C13.0417 1.04166 13.225 2.19166 13.35 2.95832L13.5333 4.04166C13.5917 4.38332 13.3583 4.70832 13.025 4.75832C12.6833 4.81666 12.3583 4.58332 12.3083 4.24999L12.125 3.16666C12.0083 2.44166 11.9833 2.29999 11.1 2.29999H8.91667C8.03334 2.29999 8.01667 2.41666 7.89167 3.15832L7.7 4.24166C7.65 4.54999 7.38334 4.76666 7.08334 4.76666Z"
                      fill="#333333" />
                    <path
                      d="M12.675 18.9583H7.325C4.41666 18.9583 4.3 17.35 4.20833 16.05L3.66666 7.65833C3.64166 7.31667 3.90833 7.01667 4.25 6.99167C4.6 6.975 4.89166 7.23334 4.91666 7.575L5.45833 15.9667C5.55 17.2333 5.58333 17.7083 7.325 17.7083H12.675C14.425 17.7083 14.4583 17.2333 14.5417 15.9667L15.0833 7.575C15.1083 7.23334 15.4083 6.975 15.75 6.99167C16.0917 7.01667 16.3583 7.30833 16.3333 7.65833L15.7917 16.05C15.7 17.35 15.5833 18.9583 12.675 18.9583Z"
                      fill="#333333" />
                    <path
                      d="M11.3833 14.375H8.60834C8.26667 14.375 7.98334 14.0917 7.98334 13.75C7.98334 13.4083 8.26667 13.125 8.60834 13.125H11.3833C11.725 13.125 12.0083 13.4083 12.0083 13.75C12.0083 14.0917 11.725 14.375 11.3833 14.375Z"
                      fill="#333333" />
                    <path
                      d="M12.0833 11.0417H7.91667C7.57501 11.0417 7.29167 10.7583 7.29167 10.4167C7.29167 10.075 7.57501 9.79166 7.91667 9.79166H12.0833C12.425 9.79166 12.7083 10.075 12.7083 10.4167C12.7083 10.7583 12.425 11.0417 12.0833 11.0417Z"
                      fill="#333333" />
                  </svg>
                </span>
                Delete
              </span>
            </div>
          </div>
        </ng-container>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr class="head">
          <ng-container *ngFor="let col of columns">
            <ng-container *ngIf="col.field === 'Checkbox'; else headers">
              <th>
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
            </ng-container>
            <ng-template #headers>
              <th [pSortableColumn]="col.field">
                {{ col.header }}
                <p-sortIcon [field]="col.field"></p-sortIcon>
              </th>
            </ng-template>
          </ng-container>
        </tr>
      </ng-template>

      <!-- <ng-template pTemplate="body" let-data> -->
      <ng-template pTemplate="body" let-data let-columns="columns" let-rowIndex="rowIndex">
        <tr class="mobile-special">
          <ng-container *ngFor="let col of columns">
            <td>
              <ng-container [ngSwitch]="col.field">

                <ng-container *ngSwitchCase="'Checkbox'">
                  <p-tableCheckbox [value]="data"></p-tableCheckbox>
                </ng-container>

                <ng-container *ngSwitchCase="'related'">
                  <span class="click-edit" (click)="editTaskOnClick(data.id)">

                    <span class="p-column-title">{{col.header}}</span>
                    <ng-container *ngIf="data.patientId">
                      <span>{{'Patient'}}</span>
                    </ng-container>
                    <ng-container *ngIf="data.leadId">
                      <!-- Show lead info -->
                      <!--<span>{{data.leadDTO.firstName}} {{data.leadDTO.lastName}}</span>-->
                      <span>{{'Lead'}}</span>
                    </ng-container>
                  </span>
                </ng-container>


                <ng-container *ngSwitchCase="'relatedName'">
                  <span class="click-edit" (click)="editTaskOnClick(data.id)">

                    <span class="p-column-title">{{col.header}}</span>
                    <ng-container *ngIf="data.patientId">
                      <span>{{data.patientDTO.firstName}} {{data.patientDTO.lastName}}</span>
                    </ng-container>
                    <ng-container *ngIf="data.leadId">
                      <span>{{data.leadDTO.firstName}} {{data.leadDTO.lastName}}</span>
                    </ng-container>
                  </span>
                </ng-container>



                <ng-container *ngSwitchCase="'createdAt'">
                  <span class="click-edit" (click)="editTaskOnClick(data.id)">
                    <span class="p-column-title">{{col.header}}</span> {{ formatTimeService.formatTime(
                    data[col.field])}}
                  </span>
                </ng-container>


                <ng-container *ngSwitchCase="'status'">
                  <span class="click-edit" (click)="editTaskOnClick(data.id)">

                    <span class="p-column-title">{{col.header}}</span>

                    <div class="d-flex justify-content-start align-items-center flex-row">
                      <div class="circle" [ngClass]="data[col.field]">
                      </div>
                      <div [ngClass]="data[col.field]+'txt'">
                        {{ data[col.field]==='Inprogress'? 'In Progress':data[col.field] ===
                        'Todo'?'To-do':'Completed'}}
                      </div>
                    </div>
                  </span>

                  <!-- <ng-container *ngIf="activeFilter!=='overdue'"> -->

                  <!-- ----------------- for complete and incomplete filter ------------------ -->
                  <!-- <span class="filter-btn" [ngClass]="filterColorObjForTable[data[col.field]]">
                      {{( data[col.field])}}
                    </span> -->
                  <!-- </ng-container> -->

                  <!-- ------------------------- for overdue filter -------------------------- -->
                  <!-- <ng-container *ngIf="activeFilter==='overdue'">
                      <span class="filter-btn btn btn-yellow">
                        {{( data[col.field])}}
                      </span>
                    </ng-container> -->
                </ng-container>

                <ng-container *ngSwitchCase="'priority'">
                  <span class="click-edit" (click)="editTaskOnClick(data.id)">
                    <span class="p-column-title">{{col.header}}</span>
                    {{data[col.field]}}
                  </span>
                </ng-container>

                <ng-container *ngSwitchCase="'deadLine'">
                  <span class="click-edit" (click)="editTaskOnClick(data.id)">

                    <span class="p-column-title">{{col.header}}</span> {{ data[col.field] ? formatDate(data[col.field]):
                    "-"}}
                    <!-- <span class="actions deadline inline-edit" (click)="editTask(data.id)">
                    <i class="fa fa-pencil-square-o"></i>
                  </span> -->
                  </span>
                </ng-container>

                <ng-container *ngSwitchCase="'actions'">
                  <span class="p-column-title">{{col.header}}</span>
                  <button class="btn-invisible" mat-icon-button [matMenuTriggerFor]="menu"
                    aria-label="Example icon-button with a menu">
                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i> </button>
                  <mat-menu #menu="matMenu">
                    <button (click)="viewDetails(data.id)" mat-menu-item>View Details</button>
                    <!-- <button (click)="editTask(data.id)" mat-menu-item>change Status</button> -->
                    <button (click)="editTask(data.id)" mat-menu-item>Edit</button>
                    <button (click)="deleteTemplateModal(data)" mat-menu-item>Delete</button>
                  </mat-menu>
                </ng-container>
                <ng-container *ngSwitchDefault>
                  <span class="click-edit" (click)="editTaskOnClick(data.id)">
                    <span class="p-column-title">{{col.header}}</span> {{data[col.field] ? data[col.field] : '-'}}
                  </span>
                </ng-container>
              </ng-container>
            </td>
          </ng-container>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>


<ng-container *ngIf="showModal">
  <app-delete-warning [modalData]="modalData" [showModal]="showModal"
    [modalMessage]="'Are you sure ? This will delete the item/items permanently, you cannot undo this action.'"
    (modalClosed)="onCloseModal($event)"></app-delete-warning>
</ng-container>

<ng-container *ngIf="showEditTaskModal">
  <app-edit-task-modal [modalData]="taskId" [showEditTaskModal]="showEditTaskModal"
    (modalClosed)="onCloseModal($event)">
  </app-edit-task-modal>
</ng-container>