<div class="profile-header">
  <div class="circle1"></div>
  <div class="circle2"></div>
  <div class="content-wrapper">
      <div class="header-content">
          <h2 class="title text-white">Welcome to your personal page</h2>
          <p class="text-white">Start filling your profile and explore unique perspectives</p>
      </div>
      <div class="header-img-wrapper">
          <img src="https://g99plus.b-cdn.net/AA%20new%20g99%20app/images/Profile%20Interface-bro%201@2x.png"
              alt="illustration" class="header-img">
      </div>
  </div>
</div>

<div class="right-sidebar">
  <!-- rs refers to right sidebar -->
  <div class="rs-header">
      <div class="circle1"></div>
      <img src="https://g99plus.b-cdn.net/AA%20new%20g99%20app/images/Kim%20Seon%20Ho%20-%20bigger.png"
          alt="user profile" class="profile-photo">
      <div class="rs-header-info text-white text-center">
          <p class="normal text-white name">
              Andy Stewart
          </p>
          <p class="small-size id">
              ID: 1234567
          </p>
      </div>
  </div>
</div>

<!-- appointment card starts -->
<div class="appointment-card">
  <!-- wrapper is used so that left border can be applied according to design -->
  <div class="wrapper">
      <div class="details">
          <p class="name">Name Surname</p>
          <p class="time-slot">9:00 AM — 10:00 AM</p>
      </div>
      <div class="date-container">
          <p class="text-white font-bold">9</p>
      </div>
  </div>
</div>
<!-- appointment card starts -->
