/* ------------------- blue image on edit formm css start ------------------- */
.profile-header {
  position: relative;
  height: 165px;
  margin-bottom: 2rem;
  background: linear-gradient(to left, rgb(0, 158, 222), rgba(0, 159, 222, 0.6));
  border-radius: 8px;
  overflow: hidden;
  z-index: 1;
}

.profile-header .content-wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 1rem;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.profile-header .header-img-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-header .header-img-wrapper .header-img {
  max-height: 130%;
  margin: -1rem;
}

.profile-header .circle1 {
  position: absolute;
  height: 220px;
  width: 220px;
  left: 0;
  top: 30px;
  transform: translate(-50%, 0);
  background: #009EDE80;
  border-radius: 50%;
  z-index: -9;
}

.circle2 {
  position: absolute;
  height: 240px;
  width: 270px;
  right: -200px;
  bottom: 60px;
  transform: translate(-50%, 0);
  background: #6AC7ED;
  border-radius: 50%;
  z-index: -9;
}
/* -------------------- blue image on edit form css ends -------------------- */

/* ------------------------- right sidebar css start ------------------------ */

.page-wrapper .right-sidebar {
  width: 270px;
}

.right-sidebar .rs-header {
  position: relative;
  min-height: 240px;
  margin-left: 1rem;
  background: linear-gradient(to left, rgb(0, 158, 222), rgba(0, 159, 222, 0.6));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.rs-header .circle1 {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(-70%, 70%) rotate(90deg);
  width: 310px;
  height: 340px;
  border-radius: 50%;
  background-color: #69C6ED;
  z-index: 9;
}

.rs-header .profile-photo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 16px;
  z-index: 99;
}

.rs-header .rs-header-info {
  z-index: 99;
}

.rs-header .rs-header-info .name {
  font-weight: 700;
  margin-bottom: 5px;
}

@media screen and (max-width: 480px) {
  .profile-header .circle1 {
      width: 170px;
      height: 170px;
      bottom: 0;
      top: auto;
      transform: translate(-50%, 50%);
  }

  .circle2 {
      height: 190px;
      width: 190px;
  }

  .header-content .title {
      font-size: 18px;
  }

  .header-content p {
      font-size: 14px;
  }

  .header-img-wrapper .header-img {
      width: 150px;
  }

  .right-sidebar {
      display: none;
  }
}
/* -------------------------- appointment card css -------------------------- */

.appointment-card {
  background-color: #FFFFFF;
  border-radius: 10px;
  overflow: hidden;
}

.appointment-card .wrapper {
  border-left: 8px solid #009EDE;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 18px 22px;
}

.appointment-card .blue-border {
  width: 8px;
  height: 100%;
  background-color: #009EDE;
}

.appointment-card .details .name {
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  color: #263238;
}

.appointment-card .details .time-slot {
  color: #7F7F7F;
}

.appointment-card .date-container {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #009EDE;
}

/* ------------------------ appointment card css end ------------------------ */
