<!-- <div class="online-demo">
    <div class="row mx-0">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="left-online-demo">
                <h1>Coming<br>soon</h1>
                <p>we are working</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="right-online-demo">
                <div class="column1">
                    <img src="https://g99plus.b-cdn.net/online%20demo/online-demo.png" />
                </div>
                <div class="column2">
                    <img src="https://g99plus.b-cdn.net/online%20demo/online-demo-dot.png" />
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="p-2">
  <p>Please watch the below video to understand the G99 Platform</p>
  <hr/>
</div>
<div class="online-demo">

  <div style="position: relative; padding-bottom: 55.067920585161964%; height: 0;"><iframe
      src="https://www.loom.com/embed/10d323e7937d439faf3faa3fc89a27f7?sid=083e5da0-4773-405a-bdf5-f7912e6be272"
      frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen
      style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe></div>
</div>
