@media screen and (max-width: 767px) {
  .col-md-6 {
    margin-bottom: 20px;
  }
}

.middle-tab-wrapper {
  height: 852px;
}

.transparent-btn {
  height: 32px;
  width: 85px;
  background-color: #2656c9;
  border-radius: 20px;
  border: 1px solid #2656c9;
  color: #fff;
  font-family: Work Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.transparent-btn:disabled {
  opacity: 0.75;
  cursor: not-allowed;
}
.tab-container {
  position: relative;
}

.prev-next-btn {
  position: absolute;
  top: -3em;
  right:17px;
  display: flex;
}

.save-icon {
  cursor: pointer;
  margin-right: 40px;
}

.custom-form-group {
  display: flex;
  align-items: flex-start;
}

.custom-form-group label {
  margin-right: 10px;
  margin-top: 7px;
  color: #333;
  font-family: Work Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.custom-form-group select {
  height: 30px;
  width: 200px;
  border: 1px solid #ced4da;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  transition: border-color 0.3s ease;
  font-size: 14px;
  color: #595959;
  font-style: normal;
  font-weight: 400;
}

.custom-form-group select:focus {
  border-color: rgb(138, 202, 223);
  outline: none;
}

.custom-form-group option {
  cursor: pointer;
  padding: 3px;
  margin-bottom: 5px;
  border-bottom: 1px solid #eee;
  font-size: 14px;
  color: #595959;
  font-style: normal;
  font-weight: 400;
}

.custom-form-group select option:checked {
  font-size: 14px;
  color: #595959;
  font-style: normal;
  font-weight: 400;
}
