<div class="bg-white datatable-table" [ngClass]="{'hidden': showAssignNewQuestionnaireForm}">
  <!-- <div class="title">
    <h3>Questionnaire</h3>
  </div> -->
  <div class="table-list">
    <p-table #dt1 responsiveLayout="stack" [value]="questionnaires" [reorderableColumns]=true sortField="id"
      [sortOrder]="-1" [columns]="selectedColumns" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [rowsPerPageOptions]="[10,25,50]"
      [globalFilterFields]="globalFilterColumn">


      <!-- ------------------------- table upper  button ------------------------- -->
      <ng-template pTemplate="caption">
        <div class="flex">

          <!-- ----------------------- table column visibility ----------------------- -->
          <p-multiSelect [resetFilterOnHide]="true"  [options]="columns" [(ngModel)]="selectedColumns" optionLabel="header"
            selectedItemsLabel="{0} Columns" [style]="{minWidth: '120px'}" placeholder="Choose Columns">
          </p-multiSelect>
          <span class="p-input-icon-left ml-auto"><i class="pi pi-search"></i>
            <div class="table-button">
              <!-- -------------------------- table search bar --------------------------- -->
              <input pInputText class="search-table" type="text"
                (input)="dt1.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />

              <!-- ------------------------ table create buutton ------------------------- -->
              <div class="table-btn-wrapper">
                <span class="icon">
                  <i class="fa fa-plus"></i>
                  <a href="javascript:void(0);" (click)="assignNewQuestionaire()">Assign New Questionnaire</a>
                </span>
              </div>
            </div>
          </span>
        </div>
      </ng-template>

      <!-- -------------------------- Table Data starts -------------------------- -->
      <ng-template pTemplate="header" let-columns>
        <tr>
          <ng-container *ngFor="let col of columns">
            <th [pSortableColumn]="col.field">
              {{col.header}}
              <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
          </ng-container>
        </tr>
      </ng-template>
      <!-- <ng-template pTemplate="body" let-data> -->
      <ng-template pTemplate="body" let-data let-columns="columns">
        <tr class="mobile-special">
          <ng-container *ngFor="let col of columns">
            <td>
              <ng-container [ngSwitch]="col.field">
                <!-- --------------------------- appointment id ---------------------------- -->
                <ng-container *ngSwitchCase="'appointmentId'">
                  <a *ngIf="data?.appointmentId !== null" [routerLink]="['/appointment/', data?.appointmentId, 'edit']"
                    [queryParams]="{ source: 'questionarie', patientId: patientId}">
                    {{data?.appointmentId}}
                  </a>
                </ng-container>

                <!-- ---------------------------- Submitted date ----------------------------- -->
                <ng-container *ngSwitchCase="'submittedDate'">
                  <span class="click-edit" (click)="editViewQuestionnaire(data)">
                    <span>{{data?.submittedDate ? formatTime(data?.submittedDate) : "-" }}</span>
                  </span>
                </ng-container>


                <!-- ---------------------------- Created date ----------------------------- -->
                <ng-container *ngSwitchCase="'createdAt'">
                  <span class="click-edit" (click)="editViewQuestionnaire(data)">
                    <span> {{data?.createdAt ? formatTime(data?.createdAt) : "-" }}</span>
                  </span>
                </ng-container>

                <!-- ---------------------------- action field ----------------------------- -->
                <ng-container *ngSwitchCase="'actions'">
                  <span class="p-column-title">{{col.header}}</span>
                  <a *ngIf="data.questionnaireStatus === 'Submitted'" title="View"
                    [routerLink]="['/patients/', patientId, 'questionnaire', data.questionnaireId]"><i
                      class="fas fa-eye ms-text-primary"></i></a>
                  <a *ngIf="data.questionnaireStatus === 'Pending'" title="Fill"
                    [routerLink]="['/patients/', patientId, 'questionnaire', data.questionnaireId, 'fill']"><i
                      class="fas fa-edit ms-text-primary"></i></a>
                </ng-container>
                <ng-container *ngSwitchDefault>
                  <span class="click-edit" (click)="editViewQuestionnaire(data)">
                    <span class="p-column-title">{{col.header}}</span> {{data[col.field] ? data[col.field] : '-'}}
                  </span>
                </ng-container>
              </ng-container>
            </td>
          </ng-container>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>

<div *ngIf="showAssignNewQuestionnaireForm">
  <app-assign-patient-questionarie [patientId]="patientId" (handleCancel)="onQuestionnaireCancel()"
    (handleQuestionnaireAssign)="onQuestionnaireAssign()">
  </app-assign-patient-questionarie>
</div>
