<ng-container *ngIf="!isPatientDeleted; else deletedLead">
  <div class="lead-info-container">
    <div class="lead-info-card lead-details">
      <div class="lead-info-header">
        <div class="lead-status">
          <span class="lead-status-name" [ngClass]="patientStatus">
            {{ patientStatus | titlecase }}
          </span>
        </div>
        <button type="button" class="btn-small-new btn-save-new" (click)="editPatient()">
          Patient Details
        </button>
      </div>
      <div class="lead-info-content" *ngIf="patientData">
        <div class="info-wrapper mb-2">
          <div class="info-key f-16 fw-500">
            <span>First Name</span>
          </div>
          <div class="info-value f-12">
            <span>{{ patientData?.firstName ?? '-' }}</span>
          </div>
        </div>
        <div class="info-wrapper mb-2">
          <div class="info-key f-16 fw-500">
            <span>Last Name</span>
          </div>
          <div class="info-value f-12">
            <span>{{ patientData?.lastName ?? '-' }}</span>
          </div>
        </div>
        <div class="info-wrapper mb-2">
          <div class="info-key f-16 fw-500">
            <span>Email</span>
          </div>
          <div class="info-value f-12">
            <span>{{ patientData?.email ?? '-' }}</span>
          </div>
        </div>
        <div class="info-wrapper mb-2">
          <div class="info-key f-16 fw-500">
            <span>Phone Number</span>
          </div>
          <div class="info-value f-12">
            <span>{{ patientData?.phone ?? '-' }}</span>
          </div>
        </div>
        <div class="info-wrapper mb-2">
          <div class="info-key f-16 fw-500">
            <span>Gender</span>
          </div>
          <div class="info-value f-12">
            <span>{{ patientData?.gender ?? '-' }}</span>
          </div>
        </div>
        <div class="info-wrapper mb-2">
          <div class="info-key f-16 fw-500">
            <span>Date of Birth</span>
          </div>
          <div class="info-value f-12">
            <span>{{ formatDate(patientData?.dateOfBirth) ?? '-' }}</span>
          </div>
        </div>
        <div class="info-wrapper mb-2"
          *ngIf="patientData?.addressLine1 || patientData?.addressLine2 || patientData?.city || patientData?.country || patientData?.state || patientData?.zipcode">
          <div class="info-key f-16 fw-500">
            <span>Address</span>
          </div>
          <div class="info-value f-12" *ngIf="patientData?.addressLine1">
            <span>{{ patientData?.addressLine1 ?? '-' }}</span>
          </div>
          <div class="info-value f-12" *ngIf="patientData?.addressLine2">
            <span>{{ patientData?.addressLine2 ?? '-' }}</span>
          </div>
          <div class="info-value f-12" *ngIf="patientData?.city">
            <span>{{ patientData?.city ?? '-' }}</span>
          </div>
          <div class="info-value f-12" *ngIf="patientData?.country">
            <span>{{ patientData?.country ?? '-' }}</span>
          </div>
          <div class="info-value f-12" *ngIf="patientData?.state">
            <span>{{ patientData?.state ?? '-' }}</span>
          </div>
          <div class="info-value f-12" *ngIf="patientData?.zipcode">
            <span>{{ patientData?.zipcode ?? '-' }}</span>
          </div>
        </div>
      </div>
    </div>

    <ng-container *ngIf="leadComments">
      <div class="lead-info-card notes-card">
        <div class="lead-info-header">
          <span class="f-16 fw-500">Notes</span>
        </div>
        <div class="notes-wrapper bg-white m-2 mb-0 px-2">
          <ng-container *ngIf="leadComments && leadComments.length > 0; else noComments">
            <ng-container *ngFor="let item of leadComments">
              <ng-container *ngIf="item.type === 'date'; else note">
                <div class="notes-date-wrapper">
                  <span class="notes-date">
                    {{ item.value }}
                  </span>
                </div>
              </ng-container>
              <ng-template #note>
                <div class="notes-item mb-2">
                  <div class="notes-header">
                    <div class="notes-header-item">
                      <div class="author-img">
                        <div>
                          <img [attr.src]="
                              item.value.profileImageUrl
                                ? item.value.profileImageUrl
                                : 'https://g99plus.b-cdn.net/AEMR/assets/images/avtar.jpeg'
                            " width="100%" height="auto" />
                        </div>
                      </div>

                      <div class="author-name">
                        {{ item.value.createdBy }}
                      </div>
                    </div>
                    <div class="notes-time">
                      {{
                      formatTimeService.formatTime(item.value.createdAt)
                      | date: 'shortTime'
                      }}
                    </div>
                  </div>

                  <div class="notes-body-item">
                    <div class="notes-description" [innerHtml]="getTextAnswerValue(item.value.comment)"></div>
                  </div>
                </div>
              </ng-template>
            </ng-container>
          </ng-container>
          <ng-template #noComments>
            <div class="flex align-items-center justify-content-center h-100 text-center f-12">
              No Comments to display here.
            </div>
          </ng-template>
        </div>
        <div class="lead-info-footer">
          <div [formGroup]="leadCommentForm" class="info-wrapper px-2 py-3 lead-comment-form">
            <div class="notes-textbox-wrapper">
              <textarea formControlName="comment" class="form-control overflow-hidden" rows="1"></textarea>
              <span (click)="saveComment()" class="send-icon" (keydown.enter)="onKeydown($event)">
                <i class="far fa-paper-plane fa"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</ng-container>

<ng-template #deletedLead>
  <div class="lead-info-card lead-details">
    <div class="lead-info-header">
      <div class="lead-status">
        <span class="lead-status-name DELETED"> DELETED </span>
      </div>
    </div>
    <div class="lead-info-content border-0">
      <div class="warning-banner new-warning-panel">
        Selected Patient is already deleted. However you can still communicate with
        them with an exception that SMS Templates won't be available.
      </div>
    </div>
  </div>
</ng-template>