.form-group {
  margin-bottom: 30px;
}



.card-wrapper.card {
  padding: 20px 10px;
  text-align: center;
  margin-bottom: 1em;
}
.anchor p {
  color: #009ede;
  font-weight: 700;
  font-size: 16px;
}

.border-box {
  background: #f5f7fb;
  border: 1px solid #c4c4c4;
  border-radius: 8px;

  padding: 10px 10px;
  margin-top: 1em;
  word-break: break-word;
  margin-bottom: 1em;
}


.border-box p{
  text-align: left;
  font-size: 12px;
  font-weight: 500;
  color: #3c4257;
}
