

<div class="card-wrapper card">
  <div class="title anchor">
    <p> Reset Password</p>
  </div>

  <div class="preview-card">
    <div class="border-box">
      <p>
        This will send a link to the user for resetting the password.
      </p>
    </div>
  </div>

  <div class="button-flex">
    <button type="button" class="save-border-btn" (click)="sendPasswordLink()">Reset Password</button>
  </div>
</div>


<div class="card-wrapper card">
  <div class="title anchor">
    <p> Reset Password Now</p>
  </div>

  <div class="preview-card">
    <div class="border-box">
      <p>
        This will reset the password now.
      </p>
    </div>
  </div>

  <div class="button-flex">
    <button type="button" class="save-border-btn" (click)="showPasswordModal()">Reset Password Now</button>
  </div>
</div>


<div class="editTitleModal dialog-new-v1 dialog-with-close-icon">
  <p-dialog [modal]="true" [breakpoints]="{'1024px': '75vw','960px': '75vw', '640px': '90vw'}" [style]="{width: '50vw'}"
    header="Reset Password Now" [(visible)]="showModal" (onHide)="cancel()">

    <!-- ---------------------------- image cropper ---------------------------- -->
    <div class="modal-body">
      <form autocomplete="off" [formGroup]="resetNewPasswordForm" (ngSubmit)="savePassword()" class="input-color form form-type2">
         <!-- --------------------------- Password Field ---------------------------- -->
         <div class="form-group"
         [ngClass]="f.newPassword.invalid && ((f.newPassword.dirty || f.newPassword.touched))?'has-error':''">

        <!-- ------ Below input field is to avoid autofocus when modal openn ------- -->
        <input type="password" style="width: 0;height: 0; visibility: hidden;position:absolute;left:0;top:0;"/>


         <label>Password<span class="error-red">*</span></label>
         <input type="password" autocomplete="new-password" class="form-control input-type2"
           formControlName="newPassword" appErrorStylingDirective>
         <div class="error error-msg">
           <div *ngIf="f.newPassword.errors?.required">
             <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Password is required.
           </div>
           <div *ngIf="f.newPassword.errors?.pattern">
             <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Password must contain one small character, one upper case charcter, one number and one of (!, &#64;, $). It must
             be minimum 8 characters long.
           </div>
         </div>
       </div>

        <!-- --------------------------- Password Field ---------------------------- -->
        <div class="form-group"
        [ngClass]="f.confirmPassword.invalid && ((f['confirmPassword'].dirty || f['confirmPassword'].touched))?'has-error':''">
        <label>Confirm Password<span class="error-red">*</span></label>
        <input type="password" class="form-control input-type2" formControlName="confirmPassword"
          appErrorStylingDirective>
        <div class="error error-msg">
          <div *ngIf="f.confirmPassword.errors?.required">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Confirm Password is required.
          </div>
          <div *ngIf="f.confirmPassword.errors?.mustMatch">
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Confirm Password should match password field.
          </div>
        </div>
      </div>
      </form>
    </div>


    <!-- ------------------------- Image cropper ends -------------------------- -->
    <ng-template pTemplate="footer">
      <div class="modal-footer-section">

        <button type="button" class="btn btn-primary" data-dismiss="modal" [disabled]="!resetNewPasswordForm.valid" (click)="savePassword()" *ngIf="!f.confirmPassword.errors?.mustMatch">
          <i [ngClass]="isPasswordResetting? 'pi-spin pi-spinner' : 'pi-check'" class="pi"></i> Save</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="cancel()">
          <i class="pi pi-times-circle"></i> Cancel</button>
      </div>
    </ng-template>
  </p-dialog>
</div>
