<div class="bg-white new-ui">
  <div class="container">
      <div class="change-password-section">
          <div class="form form-type2">
              <form [formGroup]="changePasswordForm" (ngSubmit)="submitForm()">
                  <div class="form-group" [ngClass]="f.oldPassword.invalid && ((f.oldPassword.dirty || f.oldPassword.touched))?'has-error':''">
                      <label>Old Password<span class="error-red">*</span></label>
                      <input type="password" class="form-control input-type2" formControlName="oldPassword" appErrorStylingDirective>
                      <div class="error error-msg">
                          <div *ngIf="f.oldPassword.errors?.required">
                              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Old password is required.
                          </div>
                      </div>

                  </div>

                  <div class="form-group" [ngClass]="f.newPassword.invalid && ((f.newPassword.dirty || f.newPassword.touched))?'has-error':''">
                      <label>New Password<span class="error-red">*</span></label>
                      <input type="password" class="form-control input-type2" formControlName="newPassword" appErrorStylingDirective>
                      <div class="error error-msg">
                          <div *ngIf="f.newPassword.errors?.required">
                              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Password is required.</div>
                          <div *ngIf="f.newPassword.errors?.pattern">
                              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Password must contain one small character, one upper case character, one number and one of (!,&#64;, $). It must be minimum 8 characters long.
                          </div>
                      </div>
                  </div>


                  <div class="form-group" [ngClass]="f.confirmPassword.invalid && ((f.confirmPassword.dirty || f.confirmPassword.touched))?'has-error':''">
                      <label>Retype New Password<span class="error-red">*</span></label>
                      <input type="password" class="form-control input-type2" formControlName="confirmPassword" appErrorStylingDirective>
                      <div class="error error-msg">
                          <div *ngIf="f.confirmPassword.errors?.required">
                              <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Confirm Password is required.</div>
                          <div *ngIf="f.confirmPassword.errors?.mustMatch"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Passwords must match.</div>
                      </div>
                  </div>

                  <div class="form-group">
                      <div class="button-flex">
                          <button class="btn-small-new btn-save-new" [disabled]="!changePasswordForm.valid">
                            Save
                            </button>

                          <button type="button" class="btn-default-new btn-small-new" (click)="goBack()">
                            Cancel

                          </button>
                      </div>
                  </div>
              </form>
          </div>
      </div>
  </div>

</div>
