.form-group{
  margin-bottom: 25px;
}

::ng-deep .p-button {
  color: #ffffff;
  background: #2656C9;
  border: 1px solid #2656C9;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
  border-radius: 3px;
}
/* ::ng-deep .ng-trigger.ng-trigger-overlayAnimation{
  top: 50% !important;
  transform: translateY(-50%) !important;
} */
