<div class="tab-view">
  <p-tabView [(activeIndex)]="selectedIndex" (onChange)="handleChange($event)">
    <p-tabPanel header="Designer">
      <app-add-edit-questionarie *ngIf="source === 'designer'"></app-add-edit-questionarie>
    </p-tabPanel>
    <p-tabPanel header="Notification">
      <app-contact-form-notification-table [questionnaireId]="questionnaireId"
        *ngIf="source === 'notification'"></app-contact-form-notification-table>
    </p-tabPanel>
    <p-tabPanel header="Configuration">
      <app-add-edit-configuration *ngIf="source === 'configuration'"></app-add-edit-configuration>
    </p-tabPanel>
    <p-tabPanel header="Submission">
      <app-form-submission-list [questionnaireId]="questionnaireId"
        *ngIf="source === 'submission'"></app-form-submission-list>
    </p-tabPanel>
    <p-tabPanel header="Logic">
      <app-questionnaire-logic [questionnaireId]="questionnaireId" *ngIf="source === 'logic'"></app-questionnaire-logic>
    </p-tabPanel>
    <p-tabPanel header="Patient Submission" *ngIf="!isLeadForm">
      <app-patient-form-submission-list [questionnaireId]="questionnaireId"
        *ngIf="source=== 'patientSubmission'"></app-patient-form-submission-list>
    </p-tabPanel>
  </p-tabView>
</div>